<div class="container dashboard-container">
  <h1>Designs</h1>
  <div class="design-form">
    <%= render partial: 'form' %>
  </div>
  <div class="dashboard-design__index">
    <%= render @designs %>
  </div>
</div>


