<div class="d-flex gap-2 justify-content-between mt-4">
  <% curr_id, next_id, prev_id, prev_text, next_text = next_prev(@cakemodels, @cakemodel) %>
  <% if prev_id && curr_id > 0 %>
    <%= link_to cakemodel_path(prev_id), class: 'btn btn-outline-secondary d-flex align-items-center gap-2' do %>
      <i class="fa-solid fa-arrow-left"></i>
      <span><%= prev_text %></span>
    <% end %>
  <% else %>
    <div></div>
  <% end %>
  <% if next_id %>
    <%= link_to cakemodel_path(next_id), class: 'btn btn-outline-secondary d-flex align-items-center gap-2' do %>
      <span><%= next_text %></span>
      <i class="fa-solid fa-arrow-right"></i>
    <% end %>
  <% end %>
</div>