<div class="recipe-show-ratings">
  <h2>Ratings & reviews </h2>
  <div class="recipe-show-ratings-container">
    <div class="recipe-show-ratings-reviews-form">
      <%= render 'partials/reviews/reviews_new_form' %>
    </div>
    <div class="recipe-show-ratings-reviews-container">
        <%= render 'partials/reviews/reviews_index' %>
    </div>
  </div>
</div>