// Define variables for your color scheme

$bkg-color: #000;
$body-bkg: #cf8c0e20;
$light-bkg-color: #2b2424;
$font-color: #bb8b7a;
$hover-color: #BA8A71;

$color-orange: #e79e4f;
$color-lgt-brown: #a05344;
$color-deep-brown: #734046;
$color-blacky: #321F28;


$card-gradient: linear-gradient( 180deg, rgba(117, 85, 85, .2) 20%,
#F3E4C630 90%, rgba(117, 85, 85, .1) 98%
);
