// Define variables for your color scheme

// For example:
$bkg-color: #000;
$light-bkg-color: #2b2424;
$font-color: #bb8b7a;
$hover-color: #BA8A71;

$color-orange: #e79e4f;
$color-lgt-brown: #a05344;
$color-deep-brown: #734046;
$color-blacky: #321F28;
