$bkg-color: #000;
// $white: #ffffff;
$bkg-color-op-90: #00000090;
$body-bkg: #cf8c0e20;
$light-bkg-color: #2b2424;
$font-color: #bb8b7a;
$hover-color: #BA8A71;

$color-orange: #e79e4f;
$color-lgt-brown: #a05344;
$color-deep-brown: #734046;
$color-blacky: #321F28;
$light-yellow: #F3E3C9;
$light-yellow-op-20: #F3E3C9cc;
$heart-color: #631e2d;

$card-gradient: linear-gradient( 180deg, #755555aa 60%, #75555530 93%, #75555560 98% );


$jungle-green: #419D78;
$earth-yellow: #E0A458;
$all-white: #ffffee;
$brown-van-dyke: #4D4141;
$old-rose: #b87886;
$eggplant: #6D5163;


