<style>
  body{
    font-family: "Times New Roman";
  }
</style>
<p>Bună ziua, <%= @user.email %>!</p>

<p>Contul tău la irinasweet.ro a fost creat! Deocamdată vei putea să adaugi recenzii, dar în curând vei avea posibilitatea să
  creezi liste de produse preferate, să faci comenzi on-line și alte facilități.
</p>

<p>Sperăm că te vei bucura de o experiență plăcută alături de noi!</p>

<h3>Constantin-Gabriel Ursache</h3>
<h4>Founder & Owner Irina SweetShop S.R.L.</h4>
