.about-top-margin {
  position: relative;
  margin-bottom: 70px;
}

.about-img {
  width: 100%;
  height: auto;
}

.about-rounded {
  border-radius: 10px;
  box-shadow: 1px 1px 5px darkgrey;
}

.about-top-margin {
  top: 150px;
}