.about-main-container {
  display: flex;
  flex-flow: column;
  padding: calc(4rem + 4vh) 0 40px;
  background-color: $light-bkg-color;
  color: $font-color;
  font-family: $font-title;
  font-weight: 100;
  font-size: 2rem;
  .about-presentation {
    padding: 20px 0;
    .big-title {
      font-family: $font-title;
    }
    .img-pano {
      width: 100%;
    }
    p {
      padding: 0  3vw;
      text-indent: 6vw;
    }
    p:first-of-type {
      text-indent: 0;
    }
  }
  @media (min-width: 651px) {
    padding: calc(4rem + 4vh) 5vw 40px;
    font-size: 1.5rem;
    .about-presentation {
      p {
        padding: 0;
      }
    }
  }
  @media (min-width: 901px) {
    padding: calc(4rem + 4vh) 15vw 40px;
    .about-presentation {
      font-size: 1.1rem;
    }
  }
}

.about-map {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0;
  h3 {
    font-family: $font-title;
    margin: 2vh 0;
  }
  .about-iframe {
    @media (max-width: 700px) {
      width: 80%;
    }
  }
}