.about-main-container {
  display: flex;
  flex-flow: column;
  padding: calc(var(--vh) * 20) 0 40px;
  color: $light-bkg-color;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: clamp(16px, 1.5rem, 20px);
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  text-align: justify;
  .about-presentation, .about-disclaimer {
    font-size: clamp(1rem, 20px, 1.5rem);
    padding: 20px 10px;
    .big-title {
      font-family: $font-title;
      font-weight: 800;
    }
    .img-pano {
      width: 100%;
    }
    p {
      padding: 0  3vw;
      text-indent: 1vw;
    }
    
  }
}

.about-map {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0;
  h3 {
    font-family: $font-title;
    margin: 2vh 0;
  }
  .about-iframe {
    @media (max-width: 700px) {
      width: 80%;
    }
  }
}