
.cakemodel-form__page {
  position: relative;
  display: flex;
  align-items: center;
  min-height: unquote("calc(var(--vh) * 90)");
}
.cakemodel-form {
  position: relative;
  top: 5vh;
  width: 100%;
  z-index: 10;
  max-width: 320px;
  margin: 0 auto;
  box-shadow: inset 0 0 60px #cf8c0e40;
  border-radius: $border-radius;
  h1 {
    color: $light-bkg-color;
  }
  @media(min-width: 768px) {
    max-width: 600px;
  }
  margin: 0 auto;
  .cakemodel-form__title {
    position: relative;
    text-align: center;
    margin: 100px 0 30px;
  }
  form {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    font-size: inherit !important;
    padding: 50px 20px;
  }
}


