.card-container {
    position: relative;
    // height: 470px;
    // width: 300px;
    height: 330px;
    width: 260px;
    margin: 2rem;
    overflow: hidden;
    box-shadow: 2px 2px 4px #2b242450,
    -1px -1px 1px #2b242420;
    &:hover {
        cursor: pointer;
    }
    @media (min-width: 900px) {
        margin: 2rem 2rem;
    }
    .card-link, a {
        display: block;
        // height: 77%;
        // width: 80%;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        .card-link-container {
            height: 100%;
            width: 100%;
            .card-image {
                height: 100%;
                width: 100%;
                position: relative;
                margin: 0 auto;
                // top: 10%;
                background-color: #000;
                img {
                    position: absolute;
                    height: 80%;
                    width: 70%;
                    top: 10%;
                    left: 15%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .card-title {
                // position: relative;
                position: absolute;
                z-index: 10;
                bottom: 0;
                text-shadow: 0 0 3px #000;
                letter-spacing: .04em;
                text-align: center;
                height: 20%;
                width: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: $body-bkg;
                background-color: #2b2424ef;
                color: $font-color;
                font-size: 24px;
                line-height: 1;
                p {
                    font-weight: 300;
                    margin: 0;
                }
            }
            .card-price {
                position: absolute;
                top: 20px;
                right: 0;
                color: $font-color;
                height: 50px;
                width: 110px;
                background-color: #2b2424ef;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    font-size: 18px;
                    font-weight: 700;
                    span {
                        font-weight: 200;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .card-paths {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 20%;
        bottom: 0;
        .card-paths-link {
            display: inline-block;
            position: relative;
            color: $font-color;
            font-size: 20px;
            z-index: 100;
            height: 20px;
        }
    }
    .card-rating {
        position: absolute;
        width: 50%;
        bottom: 10px;
        text-align: center;
        margin: 0 25%;
        color: $font-color;
        font-size: 12px;
    }
    .card-crud {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 11;
        a {
            display: inline;
            color: $font-color;
            font-size: 12px;
        }
    }
}

.hidden {
    visibility: hidden;
}
