.card-container {
    position: relative;
    height: 400px;
    width: 260px;
    margin: 2rem;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #2b242450,
    -1px -1px 1px #2b242420;
    &:hover {
        cursor: pointer;
    }
    @media (min-width: 900px) {
        margin: 2rem 2rem;
    }
    .card-link, a {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        .card-link-container {
            height: 80%;
            width: 100%;
            .card-image {
                height: 100%;
                width: 100%;
                position: relative;
                margin: 0 auto;
                background-color: #000;
                img {
                    position: absolute;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .card-title {
                position: absolute;
                z-index: 10;
                bottom: 0;
                text-shadow: 0 0 1px #000;
                letter-spacing: .04em;
                text-align: center;
                height: 20%;
                width: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $font-color;
                background-color: #fff;
                font-size: clamp(18px, 2rem, 22px);
                line-height: 1.2;
                p {
                    font-weight: 300;
                    margin: 0;
                }
            }
            .card-price {
                position: absolute;
                top: 20px;
                right: 0;
                color: $font-color;
                height: 50px;
                width: 110px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    font-size: 18px;
                    font-weight: 700;
                    span {
                        font-weight: 200;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .card-paths {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 20%;
        bottom: 0;
        .card-paths-link {
            display: inline-block;
            position: relative;
            color: $font-color;
            font-size: 20px;
            z-index: 100;
            height: 20px;
        }
    }
    .card-rating {
        // position: absolute;
        width: 70%;
        bottom: 10px;
        text-align: center;
        margin: 10px 15%;
        color: $font-color;
        font-size: 10px;
        z-index: 10;
    }
    .card-crud {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 11;
        a {
            display: inline;
            color: $font-color;
            font-size: 12px;
        }
    }
}

.hidden {
    visibility: hidden;
}


.card-container-recipes {
    height: 470px;
    .card-link, a {
        .card-link-container-recipes {
            height: 70%;
            .card-image-recipes {
                img {
                    max-height: 100%;
                }
            }
            .card-title-recipes {
                background-color: $color-blacky;
                height: 30%;
                .card-title-text {
                    font-weight: 500;
                    height: 38%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    width: 100%;
                    background-color: $light-bkg-color;
                }
                .card-rating {
                    position: relative;
                    height: 17%;
                    width: 100%;
                    background-color: $light-bkg-color;
                    margin: 0;
                    bottom: 0;
                }
                .card-recipe-description {
                    z-index: 15;
                    position:relative;
                    font-size: 12px;
                    padding: 10px 20px;
                    text-align: center;
                    font-weight: 300;
                    height: 45%;
                    width: 100%;
                    margin-bottom: 0;
                    background-color: #000;
                }
                // .card-price-sec {
                //     position: absolute;
                //     top: 10;
                //     font-size: 16px;
                //     font-weight: 100;
                //     background-color: #F3E4C6;
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                // }
            }
        }
    }
}
