.card-container {
    position: relative;
    margin: 0 auto 60px;
    width: 350px;
    height: 550px;
    box-shadow: 0 0 25px #eee;
    background-color: #fff;
    .card-title {
        position: absolute;
        top: 50px;
        left: -20px;
        background: #1C170C;
        color: #fff;
        font-family: 'Mitr';
        font-weight: 800;
        font-size: 44px;
        border-radius: 10px;
        transform: rotate(.90turn);
        z-index: 5;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
        p {
            margin: 0;
            padding: 0 20px;
            text-align: center;
            transform: rotate(.02turn)
        }
    }
    .card-image {
        position: relative;
        top: 60px;
        margin: 0 auto;
        height: 320px;
        width: 300px;
        border-radius: 10px;
        overflow: hidden;
        z-index: 4;
        //   box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
        object-fit: contain;
        img {
            position: absolute;
            width: 100%;
        }
    }
    .card-brown-square {
        position: absolute;
        top: 210px;
        left: 50px;
        background-color: #1C170C;
        height: 250px;
        width: 250px;
        transform: rotate(.125turn);
        border-radius: 10px;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, .2);
    }
    .card-crud {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 2rem;
        a {
            color: inherit;
        }
    }
    @media (max-width: 375px) {
        width: 280px;
        height: 400px;
        .card-title {
            font-size: 36px;
            top: 30px;
        }
        .card-image {
            top: 50px;
            width: 238px;
            height: 236px;
        }
        .card-brown-square {
            top: 150px;
            left: 40px;
            width: 200px;
            height: 200px;
        }
    }
    @media (min-width: 651px) {
        margin: 20px;
    }
    }