.card-container {
    position: relative;
    margin: 0 auto 60px;
    width: 280px;
    height: 400px;
    box-shadow: 0 0 3px #bb8b7a80;
    background-color: #bb8b7a1a;
    border-radius: 5px;
    .card-title {
        position: absolute;
        top: 50px;
        left: 7px;
        background: #1C170C;
        color: #fff;
        font-family: 'Mitr';
        font-weight: 600;
        font-size: 20px;
        border-radius: 10px;
        transform: rotate(.97turn);
        z-index: 5;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
        p {
            margin: 0;
            padding: 7px 30px;
            text-align: center;
            transform: rotate(.015turn);
        }
    }
    .card-image {
        position: relative;
        top: 80px;
        margin: 0 auto;
        height: 200px;
        width: 220px;
        border-radius: 10px;
        overflow: hidden;
        z-index: 4;
        img {
            position: absolute;
            width: 100%;
            top: 0;
            object-fit: cover;
        }
    }
    .card-brown-square {
        position: absolute;
        top: 150px;
        left: 40px;
        background-color: #1C170C;
        height: 200px;
        width: 200px;
        transform: rotate(.160turn);
        border-radius: 10px;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, .2);
    }
    .card-crud {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 1rem;
        a {
            color: inherit;
        }
    }
    @media(min-width: 801px) {
        width: 364px;
        height: 520px;
        .card-title {
            font-size: 26px;
        }
        .card-image {
            width: 260px;
            height: 286px;
            img {
                width: 110%;
            }
        }
        .card-brown-square {
            height: 260px;
            width: 260px;
            left: 50px;
            top: 180px;
        }
    }
    }