.first-margin-bottom {
  width: 50px;
  border-bottom: 1px solid $official-color;
}

.last-margin-bottom {
  border-bottom: 1px solid $official-color;
  flex-grow: 1;
}

.active-section-btn {
  border: 1px solid $official-color;
  border-bottom: none;
  border-radius: 10px 10px 0  0;
}

.inactive-section-btn {
  border-bottom: 1px solid $official-color;
}

.active-section-index {
  display: flex;
}

.inactive-section-index {
  display: none;
}

.category-recipes-index, .category-models-index {
  height: 80vh;
  overflow: scroll;
  position: relative;
  top: 25px;
}

.category-show-buttons-hover:hover {
  cursor: pointer;
}