.card-container {
    position: relative;
    height: 470px;
    width: 325px;
    overflow: hidden;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
    background-size: cover;
    background-position: 50% 48%;
    &:hover {
        cursor: pointer;
    }
    .card-paths-link {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        color: $font-color;
        z-index: 100;
        align-items: flex-end;
        justify-content: center;
        .card-title-h3 {
            font-size: 3rem;
            color: $all-white;
            font-weight: 300;
            letter-spacing: -0.09em;
            background-color: $eggplant;
            display: block;
            width: 100%;
            padding: 0.5rem 0;
            opacity: 1;
            transition-timing-function: ease-in-out;
            transition-property: opacity;
            transition-duration: 1s;
            text-align: center;
            font-family: inherit;
        }
    }
    .card-rating {
        // position: absolute;
        width: 70%;
        bottom: 10px;
        text-align: center;
        margin: 10px 15%;
        color: $font-color;
        font-size: 10px;
        z-index: 10;
    }
    .card-crud {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 11;
        a {
            display: inline;
            color: $font-color;
            font-size: 12px;
        }
    }
}

.hidden {
    visibility: hidden;
}


.card-container-recipes {
    position: relative;
    width: 22.5rem;
    height: 30rem;
    border-radius: 20px;
    overflow: hidden;
    font-family: $font-text;
    box-shadow: 2px 2px 15px #00000020,
        -2px -2px 15px #00000020;
    &:hover {
        box-shadow: 2px 2px 30px #00000060,
        -2px -2px 15px #00000020;
    }
    .card-price-sec {
        position: absolute;
        height: 56px;
        width: 56px;
        border-radius: 50%;
        top: 10px;
        right: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 5px $light-yellow-op-20;
        color: $light-bkg-color;
        .price-design {
            position: relative;
            height: 56px;
            width: 56px;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 0.5;
            justify-content: center;
            font-family: 'Atma';
            span {
                &:nth-child(2) {
                    font-size: 10px;
                    position: relative;
                    top: -5px;
                }
                &:last-child {
                    font-size: 14px;
                    top: 0;
                }
            }
            hr {
                margin: 8px 0;
                width: 70%;
            }
            .price-design-kg {
                font-size: 11px;
            }
        }
    }
    .card-crud {
        position: absolute;
        top: 8px;
        left: 8px;
        a {
            font-size: 12px;
            color: $font-color;
            &:hover {
                color: #fff;
            }
        }
    }
    a {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        .card-link-container-recipes {
            position: relative;
            width: 100%;
            height: 100%;
            .card-image-recipes {
                width: 100%;
                height: 21rem;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: $eggplant;
                background-color: antiquewhite;
                .favored-recipe {
                    position: absolute;
                    color: $heart-color;
                    top: 44px;
                    left: 6px;
                    z-index: 2;
                }
                img {
                    position: relative;
                    height: 100%;
                    object-fit: cover;
                }
                .card-image__no-image {
                    filter: blur(10px);
                }
                .card-image__no-image-text {
                    position: absolute;
                    color: #000;
                    background-color: #ffffffaa;
                    transform: rotate(-30deg);
                    padding: 5px 20px;
                    font-family: 'Montserrat';
                    font-size: 18px;
                }
            }
            .card-title-recipes {
                height: 9rem;
                text-align: center;
                color: $eggplant;
                .card-title-text {
                    position: relative;
                    height: 6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid #2b2424;
                    line-height: 1;
                    font-size: 1.5rem;
                    font-weight: 700;
                    letter-spacing: -.02em;
                    padding: 0 10px;
                    h2 {
                        font-size: inherit;
                        font-weight: inherit;
                        font-family: inherit;
                    }
                }
                .card-description {
                    position: relative;
                    font-size: 0.9rem;
                    height: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10px;
                }
                // .card-rating {
                //     position: relative;
                //     font-size: 1.2rem;
                //     color: $light-yellow;
                //     background: $eggplant;
                //     padding: 10px 0;
                //     height: 3rem;
                // }
            }
        }
    }
}
