.dashboard-container {
  position: relative;
  top: 15vh;
  z-index: 10;
  min-height: inherit;
}
.dashboard-design__index {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin: 10vh 0;
}
.design-card {
  position: relative;
  border: 1px solid #aaa;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}
