.form-container {
  position: relative;
}

.form-form {
  position: relative;
}

.simple_form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  .required, .optional {
    font-size: inherit;
  }
}

.form-control {
  border-color: $official-color;
  border-radius: 5px;
}

.required {
  font-size: 1rem;
}

#recipe_photo {
  color: $official-color;
}

.nutritional-declaration {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  .optional {
    font-size: 12px;
  }
}

.recipe-options {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-content: center;
  align-items: start;
}
