.form-control {
  border-color: $official-color;
  border-radius: 5px;
}

.required {
  font-size: 1rem;
}

#recipe_photo {
  color: $official-color;
}

.nutritional-declaration {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  .optional {
    font-size: 12px;
  }
}

.recipe-options {
  display: grid;
  gap: 10px;
  grid-template-columns: 40% 15% 15% 10%;
  align-content: center;
  align-items: center;
  .optional {
    font-size: 14px;
  }
}
