.home-main__container {
    width: 100%;
    position: relative;
    // background: $light-bkg-color;
    padding: unquote("calc(var(--vh) * 5) 0 0");
}

.hero-section {
    p {
        margin: 0;
    }
    position: relative;
    display: flex;
    padding: unquote("calc(var(--vh) * 25) 20px calc(var(--vh) * 14)");
    width: 100vw;
    background-color: $earth-yellow;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    gap: unquote("calc(var(--vh) * 5)");
    @media (min-width: 768px) {
        min-height: unquote("calc(var(--vh) * 50)");
    }
    @media (min-width: 1100px) {
        min-height: unquote("calc(var(--vh) * 68)");
        padding: 25dvh 20px 2dvh;
    }
    img {
        position: relative;
        width: 100%;
        height: auto;
        @media (min-width: 1100px) {
            width: 50%;
        }
    }
    .hero-section__button {
        display: inline-block;
        font-family: "Montserrat";
        font-size: clamp(34px, 7vw, 90px);
        text-align: center;
        color: $all-white;
        font-weight: 900;
        filter: drop-shadow(3px 3px 5px #00000040);
        h1 {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
        }
    }
    .fa-circle-chevron-down {
        position: absolute;
        color: #fff;
        font-size: unquote("calc(var(--vh) * 4)");
        bottom: 20px;
        right: 20px;
        animation: arrow-animation 1.2s infinite;
    }
    @keyframes arrow-animation {
        0% {
            opacity: .3;
            bottom: 20vh;
        } 80% {
            opacity: .05;
        } 100% {
            opacity: 0;
            bottom: 10vh;
        }
    }
}

.hero-wave__container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: $light-yellow;
    // @media (min-width: 768px) {
    //     top: -20px;
    // }
    .hero-wave {
        position: relative;
        width: 200%;
        filter: drop-shadow(16px 12px 8px #00000070);
        top: -1px;
        @media (min-width: 1080px) {
            width: 100%;
        }
    }
}


// .squares-menu {
//     position: relative;
//     display: flex;
//     flex-wrap: wrap;
//     width: 100%;
//     font-family: $font-title;
//     letter-spacing: .08em;
//     .bkg-dark {
//         background-color: $bkg-color;
//         border-top: 1px solid $light-bkg-color;
//     }
    
//     .bkg-light {
//         background-color: $light-bkg-color;
//         border-bottom: 1px solid $bkg-color;
//     }
//     .square {
//         width: 50vw;
//         height: 40vw;
//         padding: 20px;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;
//         align-items: center;
//         letter-spacing: .01em;
//         p {
//             color: $font-color;
//             font-size: clamp(16px, 1.6rem, 28px);
//             text-align: center;
//             margin: 0;
//             line-height: 1.2;
//         }
//         .home-fontawsome {
//             font-size: clamp(30px, 7rem, 5vw);
//         }
//         @media (min-width: 651px) {
//                 width: 33.33vw;
//                 height: 27vw;
//         }
    
//         @media (min-width: 901px) {
//                 width: 16.66vw;
//                 height: 13vw;
//         }
//         @media (min-width: 901px) and (max-width: 1099px) {
//             p {
//                 font-size: clamp(13px, 1.6rem, 14px);
//             }
//         }
//         @media (min-width: 1100px) and (max-width: 1462px) {
//             p {
//                 font-size: clamp(16px, 1.6rem, 18px);
//             }
//         }

//     }
// }

.home-page__samples {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: unquote("calc(var(--vh) * 40)");
    padding: unquote("0 calc(var(--vh) * 5) calc(var(--vh) * 10)");
    text-align: center;
    background-color: $light-yellow;
    z-index: 1;
    .samples-index {
        position: relative;
        width: 100%;
        max-width: 1500px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        justify-content: center;
        @media (min-width: 1300px) {
            grid-template-columns: repeat(4, minmax(260px, 1fr));
        }
        margin: 0 auto;
        gap: 50px;
        z-index: 10;
        .card-container-recipes {
            justify-self: center;
            background-color: $light-yellow;
        }
    }
}

.home-page__categories {
    padding: 15rem 0;
}

.categories-index {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)) !important;
    gap: 2.5rem;
    justify-items: center;
}

.h2 {
    font-size: unquote("clamp(40px, 5rem, calc((var(--vh) * 2) + 3vw))");
    font-weight: 900;
    margin: 50px 0 100px 0;
    color: $eggplant;
    text-shadow: 1px 1px 3px;
}

.info {
    position: relative;
    background-color: $old-rose;
    font-family: $font-title;
    color: $all-white;
    text-align: center;
    font-size: unquote("clamp(1vh, 1.6rem, calc(1.3vh + 1vw))");
    padding: 17vh 0 0;
    overflow: hidden;
    p {
        margin-bottom: 5px;
    }
    a {
        color: $all-white;
    }
    .info-wave {
        position: absolute;
        top: -1px;
        left: 0;
        width: 200%;
        filter: drop-shadow(10px 10px 7px #0007);
        @media (min-width: 1024px) {
            width: 150%;
        }
        @media (min-width: 1200px) {
            width: 100%;
        }
    }
    .info-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15vh 0 0;
        hr {
            margin: 0;
            margin-bottom: 5px;
            height: 1px;
            background-color: $all-white;
            width: 8vw;
        }
    }
    
    .info-contact {
        width: 70%;
        margin: 0 15%;
        padding: 20px 0;
        font-size: 4rem;
        display: flex;
        justify-content: space-evenly;
    }
    .info-questions {
        .info-action-button {
            display: inline-block;
            margin-top: 50px;
            background-color: unset;
            color: $all-white;
            padding: 10px 5vw;
            font-size: calc(1.8vh + 1.4vw);
            border-radius: 4px;
            border: 1px solid $all-white;
            &:hover {
                background-color: $all-white;
                color: $old-rose;
                text-decoration: none;
            }
        }
    }
    @media (min-width: 651px) {
        .info-contact {
            width: 50%;
            max-width: 400px;
            margin: 0 auto;
            font-size: 3rem;
        }
    }
    @media (min-width: 901px) {
        .info-header {
            hr {
                width: 15vw;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
        .info-questions {
            .info-action-button {
                font-size: clamp(16px, 2rem, 36px);
            }
        }
    }
}

.modal-body-text {
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    padding: 3rem 2rem !important;
}



.home-features {
    position: relative;
    padding: 10vh 0;
    background-color: #000;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.sample-wave {
    position: absolute;
    top: -1px;
    left: 0;
    filter: drop-shadow(5px 5px 10px #000000aa);
    width: 200%;
    @media (min-width: 1024px) {
        width: 150%;
    }
    @media (min-width: 1200px) {
        width: 100%;
    }
    }

.block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    gap: 25px;
}

  .block-1 {
    width: 100%;
    height: 20vw;
    margin: 0 auto;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: clamp(16px, 1.5rem, 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    order: 2;
    h2 {
        font-size: clamp(20px, 2rem, 28px);
        font-weight: 900;
        text-align: center;
        margin-bottom: 10px;
    }
  }

  .block-2 {
    position: relative;
    width: 100%;
    height: max-content;
    max-height: 50vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 90%;
    }
  }

  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }

