.home-page {
  height: 90vh;
  width: 100%;
    background: {
      image: asset_url('bday_cake.jpg');
      position: center;
      size: cover;
      repeat: no-repeat;
    }
}

#main-page_button {
  position: absolute;
  bottom: 100px;
  width: 80%;
  left: 10%;
  height: 60px;
  color: white;
    background: {
      color: $navbar-background;
    }
  border-radius: 10px;
    a {
      color: white;
    }
}
