.home-main__container {
    width: 100%;
    position: relative;
    background: $light-bkg-color;
    padding: calc(var(--vh) * 10) 0;
}

.hero-section {
    p {
        margin: 0;
    }
    position: relative;
    display: flex;
    padding: 20px 40px;
    width: 100vw;
    background-color: $bkg-color;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
        min-height: calc(var(--vh) * 50);
    }
    @media (min-width: 1000px) {
        min-height: calc(var(--vh) * 65);
    }
    img {
        position: relative;
        width: 70%;
        height: auto;
        @media (min-width: 651px) {
            width: 55%;
        }
        @media (min-width: 901px) {
            width: 35%;
        }
    }
    .hero-section__button {
        display: inline-block;
        font-family: $font-title;
        font-size: 4rem;
        text-align: center;
        color: $font-color;
        font-weight: 900;
        margin: 0 auto;
        padding: 0 30px;
        border-radius: 30px;
        line-height: .9;
    }
    
    @media (min-width: 901px) {
        flex-flow: row-reverse;
        justify-content: space-evenly;
    }
}


.squares-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: $font-title;
    letter-spacing: .08em;
    .bkg-dark {
        background-color: $bkg-color;
        border-top: 1px solid $light-bkg-color;
    }
    
    .bkg-light {
        background-color: $light-bkg-color;
        border-bottom: 1px solid $bkg-color;
    }
    .square {
        width: 50vw;
        height: 40vw;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: .01em;
        p {
            color: $font-color;
            font-size: 1.5rem;
            text-align: center;
            margin: 0;
            line-height: 1.2;
        }
        .home-fontawsome {
            font-size: 6rem;
        }
    }
    @media (min-width: 651px) {
        .square {
            width: 33.33vw;
            height: 27vw;
        }
    }

    @media (min-width: 901px) {
        .square {
            width: 16.66vw;
            height: 13vw;
            p {
                font-size: 1rem;
            }
            .home-fontawsome {
                font-size: 3rem;
            }
        }
    }
}

.home-page__samples {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: calc(var(--vh) * 40);
    padding: calc(var(--vh) * 10) calc(var(--vh) * 5);
    text-align: center;
    color: $font-color;
    background-color: $light-yellow;
    h2 {
        font-size: clamp(40px, 3rem, 80px);
        font-weight: 900;
        margin: 50px 0 100px 0;
        color: $light-bkg-color;
    }
    .samples-index {
        position: relative;
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        margin: 0 auto;
        gap: 50px;
        z-index: 10;
        .card-container-recipes {
            justify-self: center;
            background-color: $light-yellow;
        }
    }
    .samples-wave {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: .6;
    }
}

.info {
    position: relative;
    background-color: $light-bkg-color;
    font-family: $font-title;
    color: $font-color;
    text-align: center;
    font-size: clamp(16px, 2rem, 36px);
    padding: 8vh 10px 0;
    p {
        margin-bottom: 5px;
    }
    a {
        color: $font-color;
    }
    .info-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        hr {
            margin: 0;
            margin-bottom: 5px;
            height: 1px;
            background-color: $font-color;
            width: 8vw;
        }
    }
    
    .info-contact {
        width: 70%;
        margin: 0 15%;
        padding: 20px 0;
        font-size: 4rem;
        display: flex;
        justify-content: space-evenly;
    }
    .info-questions {
        .info-action-button {
            display: inline-block;
            margin-top: 50px;
            background-color: $font-color;
            color: $bkg-color;
            padding: 10px 10vw;
            font-size: 3rem;
            border-radius: 4px;
            &:hover {
                background-color: $bkg-color;
                color: $font-color;
                text-decoration: none;
            }
        }
    }
    @media (min-width: 651px) {
        .info-contact {
            width: 50%;
            margin: 0 25%;
            font-size: 3rem;
        }
    }
    @media (min-width: 901px) {
        .info-header {
            hr {
                width: 15vw;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
        .info-questions {
            .info-action-button {
                font-size: clamp(16px, 2rem, 36px);
            }
        }
    }
}

.modal-body-text {
    font-weight: 500 !important;
}
