@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
// Import page-specific CSS files here.

@import "home";
@import "category_card";
// @import "application";
@import "render_cards";
@import "new_form_category";
// @import "index_recipe";
@import "forms_style";
@import "show_recipe";
// @import "index_recipe";
@import "login";
@import "signup";
@import "account_edit";
@import "account_dashboard";
@import "cakemodel_form";
@import "dashboard_nav";
// @import "index_cakemodel";
@import "form_new_recipe";
@import "category_show";
@import "about";
@import "order";
@import "animate";
@import "show_cart";
@import "shop_cart";
@import "floating_cart";
@import "recipe_card";
@import "not_found";
@import "_easter_modal_2021";
@import "dashboard";
@import "dashboard_delivery_dates";
@import "cakemodels/index";
@import "nutritional_values";

