      .recipe-card_rating-total {
        position: absolute;
        top: 427px;
        width: 100%;
        font-size: .7rem;
          .font-stars {
            font-size: 1px;
            text-shadow: 2px 2px 2px lightgrey;
          }
      }

      .recipe-price-holder {
        position: absolute;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        top: 10px;
        right: 10px;
        box-shadow: .2px .2px 1px $official-color;
      }

      .recipe-price {
        font-size: 1.3rem;
        border-bottom: 1px solid $official-color;
      }
      
      .recipe-price-text_shadow {
        text-shadow: 1px .5px .5px $official-color;
       }

      .recipe-card_admin-links {
        position: absolute;
        top: 10px;
        left: 20px;
        background-color: rgb(255, 255, 255);
        padding: 1px 7px;
        border-radius: 10px;
        font-size: 16px;
          a {
            color: lightgray;
          }
      }
