.cards-container {
 position: relative;
 width: 100%;
 padding: calc(var(--vh) * 20) 0;
 color: $font-color;
 h3 {
  font-family: $font-text;
  font-size: 3rem;
  font-weight: 200;
  padding-bottom: 2em;
  span {
   font-size: 14px;
  }
 }
 .cards-container-index {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
  }
 }
 .cards-container-new-recipe {
  display: flex;
  justify-content: center;
 }
}

