.new-form_category {
  position: relative;
  top: 10vh;
}

.form-background {
  background-color: green;
}

.form-control-file {
  color: $official-color;
}

.new-category-colon {
  h2 {
    font-size: 1.5rem;
  }
}