.valori-nutritionale-container {
  padding: 2vh 0 4vh;
  top: calc(8rem + 8vh);
  display: inline-block;
}

.nutritional-values-index {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  width: 100%;
  gap: 50px;
  h2 {
    font-size: 24px;
  }
}

.nutritional-values-index__category {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nutritional-values-index__recipe {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }
  #link-to-nutri-val {
    font-size: 14px;
    font-weight: 500;
  }
}

.recipe-border {
  &:after {
    content: '';
    position: absolute;
    border: 3px solid $light-bkg-color;
    animation: border 2s ease-in-out infinite;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
  }
}

@keyframes border {
  0% {
    border: 1px solid $light-bkg-color;
  } 20% {
    border: 2px solid $light-bkg-color;
  } 40% {
    border: 3px solid $light-bkg-color;
  } 60% {
    border: 3px solid $light-bkg-color;
  } 80% {
    border: 2px solid $light-bkg-color;
  } 100% {
    border: 1px solid $light-bkg-color;
  }
}



.anchor-positioning {
  position: absolute;
  top: -200px;
}

