.order-main-container {
    position: relative;
    padding: calc(7rem + 7vh) 7vw 4vh;
    color: $font-color;
    background-color: $light-bkg-color;
    font-size: 1.7rem;
    font-weight: 100;
    font-family: $font-title;
    @media (min-width: 951px) {
        padding: calc(7rem + 7vh) 15vw 4vh;
        font-size: 1.1rem;
    }
    p {
        margin-bottom: 15px;
    }
    span {
        a {
            color: inherit;
            text-decoration: underline;
        }
    }
    .intend {
        text-indent: 5vw;
        font-weight: 300;
        font-size: 1.2em;
    }
}