.order-main-container {
    position: relative;
    padding: calc(7rem + 7vh) 7vw 4vh;
    color: $light-bkg-color;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Montserrat";
    width: 90%;
    max-width: 1400px;
    margin: auto auto;
    p {
        margin-bottom: 15px;
    }
    span {
        a {
            color: inherit;
            text-decoration: underline;
        }
    }
    .intend {
        text-indent: 5vw;
        font-weight: 300;
        font-size: 1.2em;
    }
}