.cards-main-container {
    position: relative;
    min-height: 80vh;
    width: 100%;
    max-width: 100%;
    @media(min-width: 768px) {
        max-width: 90%;
    }
    @media(min-width: 1200px) {
        max-width: 110rem;
    }
    margin: 0 auto;
    padding: calc(14rem + 10vh) 0 14rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 7vh 2vh;
    justify-items: center;
    .cards-filter {
        display: flex;
        gap: 10px;
    }
    h3 {
        font-family: $font-text;
        display: inline-block;
        width: 100%;
        color: $eggplant;
        font-size: 4rem;
        font-weight: 900;
        padding-bottom: 1em;
        text-shadow: 1px 1px 3px;
        grid-area: 1 / 1 / 1 / -1;
        span {
        font-size: 14px;
        font-weight: 300;
        }
    }
    a {
        grid-area: 2/1/2/-1;
    }
}
