.cards-main-container {
    position: relative;
    min-height: 80vh;
    width: 100%;
    max-width: 80%;
    @media(min-width: 1500px) {
        max-width: 1300px;
    }
    margin: 0 auto;
    padding: calc(8rem + 8vh) 0 4vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 7vh 2vh;
    justify-items: center;
    h3 {
        font-family: $font-text;
        display: inline-block;
        width: 100%;
        color: $light-bkg-color;
        font-size: 4rem;
        font-weight: 900;
        padding-bottom: 1em;
        grid-area: 1 / 1 / 1 / -1;
        span {
        font-size: 14px;
        font-weight: 300;
        }
    }
    a {
        grid-area: 2/1/2/-1;
    }
}
