.cards-main-container {
    position: relative;
    min-height: 80vh;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: calc(8rem + 8vh) 0 4vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3vh;
    justify-items: center;
    h3 {
        display: inline-block;
        width: 100%;
        color: $font-color;
        font-size: 2rem;
        font-weight: 400;
        padding-bottom: 1em;
        grid-area: 1 / 1 / 1 / -1;
        span {
        font-size: 14px;
        font-weight: 300;
        }
    }
}

.card-index-new {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 4vh;
}