.recipe-show-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 9rem 0 5rem;
  .recipe-show-back-btn {
    justify-self: start;
    margin-left: 50px
  }
  .recipe-show-main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 5rem;
    .recipe-show-main-image {
      position: relative;
      width: 240px;
      height: 336px;
      margin: 0 auto;
      // box-shadow: 1px 1px 2px 2px #00000010;
      background-color: #00000007;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        // object-fit: cover;
        width: 100%;
      }
      .recipe-show-main-price {
        position: absolute;
        right: 0;
        bottom: 5%;
        text-align: center;
        padding: .3rem 1rem;
        font-size: 24px;
        color: $font-color;
        font-weight: 700;
        background-color: $light-bkg-color;
        span {
          font-size: .6em;
          font-weight: 200;
        }
        a {
          color: inherit;
        }
      }
    }
    .recipe-show-main-description {
      width: 80%;
      margin: 30px auto 0;
      font-size: clamp(12px, 1.5rem, 16px);
      text-align: justify;
      color: $light-bkg-color;
      h1 {
        text-align: center;
        font-size: 3.5rem;
        color: $font-color;
        font-weight: 900;
        letter-spacing: .1em;
        padding-bottom: 30px;
      }
      p {
        padding-bottom: 20px;
      }
      .standard {
          position: relative;
          color: black;
          &:hover {
            cursor: help;
          }
        }
      .recipe-show-std-image {
        opacity: .9;
        width: 100px;
        display: none;
        position: absolute;
        top: 15px;
        right: 0;
      }
      .recipe-show-main-description__text {
        font-size: 16px;
      }
    }
  }
  .recipe-show-ratings {
    position: relative;
    text-align: center;
    width: 80%;
    margin: 40px auto;
    h2 {
      padding: 10px 0;
      font-size: 2.2rem;
    }
    .recipe-show-ratings-reviews-form {
      margin-bottom: 2rem;
      .select.required, .text.required {
        font-size: 1.2rem;
      }
      #review_rating {
        font-size: 10px;
      }
    }
    .recipe-show-ratings-reviews-container {
      text-align: justify;
      font-size: 14px;
      line-height: 1.2;
        .recipe-reviews-card {
          position: relative;
          margin-bottom: 20px;
          background-color: #00000020;
          padding: 10px;
          border-radius: 10px;
          p:first-child, p:nth-child(3), p:nth-child(4) {
            font-size: 10px;
            margin-bottom: 10px;
          }
          p:nth-child(2) {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
          }
          #recipe-approve-form {
            .form-check {
              display: flex;
              justify-content: start;
              align-items: center;
              margin: 10px 0 0 0;
              padding: 0;
              .form-check-input {
                position: relative;
                margin: 0 10px 0 0;
              }
              .optional {
                font-size: 15px !important;
              }
            }
          }
        }
    }
  }
}

@media (min-width: 900px) {
  .recipe-show-container {
    .recipe-show-main {
      width: 90%;
      max-width: 1000px;
      margin: 0 auto;
      .recipe-show-main-description {
        margin: 0;
        width: 65%;
        h1 {
          font-size: 2rem;
        }
        .recipe-show-main-description-text {
          font-weight: 700;
        }
        p {
          padding: 0;
        }
      }
    }
    .recipe-show-ratings {
      font-size: 1rem;
      max-width: 1000px;
      h2 {
        margin: 40px 0 50px;
        font-size: inherit;
      }
      .recipe-show-ratings-reviews-form {
        margin-bottom: 0;
        .select.required, .text.required {
          font-size: 14px;
        }
      }
      .recipe-show-ratings-container {
        display: flex;
        justify-content: space-between;
        .recipe-show-ratings-reviews-form {
          width: 40%;
        }
        .recipe-show-ratings-reviews-container {
          width: 40%;
        }
      }
    }
  }
} 