.show-recipe_photo {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 330px;
  margin: 0 auto;
  
  img {
    box-shadow: .4px .4px 10px lightgray;
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0.1px 1px 10px lightgray;
    }
}

.recipe-reviews-index {
  height: 300px;
  overflow-y: scroll;
}

.create-item .form-control {
  width: 30%;
}
.standard {
  position: relative;
  color: black;
  &:hover {
    cursor: help;
  }
}

.standard-design {
  opacity: .9;
  width: 100px;
  display: none;
  position: absolute;
  top: 15px;
  right: 0;
}