.recipe-show-container {
  position: relative;
  width: 100%;
  margin: auto auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 20vh 0 10rem;;
  .recipe-show-back-btn {
    justify-self: flex-start;
    margin-left: 50px
  }
  .recipe-show-main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
    .cakemodel-photos-section {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 260px;
      order: 2;
      @media(min-width: 1000px) {
        order: 1;
      }
      .card-image-recipes {
        position: relative;
        width: 260px;
        height: 390px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        overflow: hidden;
        align-self: center;
        img {
          position: relative;
          top: 0;
          left: 0;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        .card-image__no-image {
          filter: blur(4px);
        }
      .card-image__no-image-text {
          position: absolute;
          color: #000;
          background-color: #ffffffaa;
          transform: rotate(-30deg);
          padding: 5px 20px;
          font-family: 'Montserrat';
          font-size: 18px;
          width: 80%;
          text-align: center;
          margin-left: 10%;
        }
      }
      .additional-photos {
        position: relative;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 260px;
        .cakemodel__additional-photo {
          position: relative;
          width: 120px;
          height: 130px;
          overflow: hidden;
          border-radius: 10px;
          display: flex;
          align-items: center;
        }
      }
    }
    .recipe-show-main-description {
      width: 100%;
      margin: 30px auto 0;
      font-size: clamp(16px, 1.5rem, 20px);
      text-align: justify;
      color: $eggplant;
      .cakemodel-content {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 10px;
        align-items: stretch;
        padding: 0 3rem;
        @media (min-width: 1000px) {
          padding: 0;
        }
      }
      #link-to-nutri-val {
        font-size: 12px;
        font-weight: 500;
      }
      .recipe-show-main-description-text {
        font-size: 16px;
      }
      .recipe-show-main-price {
        color: $light-bkg-color;
        font-family: $font-text;
        font-size: 24px;
        font-weight: 700;
        margin: 20px 0;
      }
      .recipe-show-main__disclaimer {
        font-size: clamp(14px, 1.5rem, 16px);
        a {
          color: inherit;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .recipe-nutritional-declaration, .recipe-ingredients {
        font-size: 10px;
      }
      h1 {
        text-align: center;
        font-size: clamp(20px, 3.5rem, 48px);
        color: inherit;
        font-weight: 900;
        padding-bottom: 30px;
      }
      p {
        padding-bottom: 20px;
      }
      .standard {
          position: relative;
          color: black;
          &:hover {
            cursor: help;
            text-decoration: underline;
          }
        }
      .recipe-show-std-image {
        opacity: .9;
        width: 100px;
        display: none;
        position: absolute;
        top: 15px;
        right: 0;
      }
      .recipe-show-main-description__text {
        font-size: 16px;
      }
    }
  }
  .recipe-show-ratings {
    position: relative;
    text-align: center;
    width: 80%;
    margin: 40px auto;
    h2 {
      padding: 10px 0;
      font-size: 2.2rem;
    }
    .recipe-show-ratings-reviews-form {
      margin-bottom: 2rem;
      .select.required, .text.required {
        font-size: 1.2rem;
      }
      #review_rating {
        font-size: 10px;
      }
    }
    .recipe-show-ratings-reviews-container {
      text-align: justify;
      font-size: 14px;
      line-height: 1.2;
        .recipe-reviews-card {
          position: relative;
          margin-bottom: 20px;
          background-color: #00000020;
          padding: 10px;
          border-radius: 10px;
          p:first-child, p:nth-child(3), p:nth-child(4) {
            font-size: 10px;
            margin-bottom: 10px;
          }
          p:nth-child(2) {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
          }
          #recipe-approve-form {
            .form-check {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin: 10px 0 0 0;
              padding: 0;
              .form-check-input {
                position: relative;
                margin: 0 10px 0 0;
              }
              .optional {
                font-size: 15px !important;
              }
            }
          }
        }
    }
  }
}

@media (min-width: 900px) {
  .recipe-show-container {
    .recipe-show-main {
      flex-direction: row;
      width: 90%;
      margin: 0 auto;
      gap: 50px;
      .recipe-show-main-description {
        margin: 0;
        width: 65%;
        p {
          padding: 0;
        }
      }
    }
    .recipe-show-ratings {
      font-size: 1rem;
      max-width: 1000px;
      h2 {
        margin: 40px 0 50px;
        font-size: inherit;
      }
      .recipe-show-ratings-reviews-form {
        margin-bottom: 0;
        .select.required, .text.required {
          font-size: 14px;
        }
      }
      .recipe-show-ratings-container {
        display: flex;
        justify-content: space-between;
        .recipe-show-ratings-reviews-form {
          width: 40%;
        }
        .recipe-show-ratings-reviews-container {
          width: 40%;
        }
      }
    }
  }
} 
