.cakemodel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 5vh;
  overflow: hidden;
  box-shadow: 2px 2px 7px lightgrey;
  border-radius: 20px;
  margin: 20px 0;
  padding: 0;
  height: 460px;
    img {
        position: absolute;
        width: 100%;
        top: 0;
        object-fit: cover;
        object-position: center;
        height: 360px;
      }
     .cakemodel-content {
       width: 100%;
       position: absolute;
       top: 360px;
       overflow: hidden;
     }
     
     hr {
       margin: 2px 0;
       border-top: 1px solid $official-color;
     }
}

