.cakemodel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 7px lightgrey;
  border-radius: 20px;
  margin: 20px 0;
  padding: 0;
  height: 500px;
    img {
        position: absolute;
        width: 100%;
        top: 0;
        object-fit: cover;
        object-position: center;
        height: 330px;
      }
     .cakemodel-content {
       width: 100%;
       position: absolute;
       top: 330px;
       overflow: hidden;
     }
     .cakemodel-rating {
       position: absolute;
       width: 100%;
       top: 400px;
     }
     .recipe-card_admin-links {
       bottom: 0;
     }
}

