.cakemodel-container {
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgrey;
  overflow: hidden;
    img {
      width: 100%;
      height: 330px;
      object-fit: cover;
      object-position: center;
    }
}

.font-content {
  font-size: 1.4rem;
}

.font-rating {
  font-size: .9rem;
}
