.log-in {
  position: relative;
  top: 10vh;
  font-family: 'Life Savers';
  font-weight: 700;
}

.login-fonts {
  font-family: inherit;
  font-weight: 700;
}

.login-buttons {
  margin-top: 20px;
}

