<div class="cards-main-container">
  <h3 class='text-center'><%= "#{Category.find_by(slug: params[:category_id]).name.upcase}" %></h3>
  <% if policy(Recipe).new? %>
    <%= link_to "#", data: {bs_toggle: "modal", bs_target: "#newRecipeModal"}, class: 'btn-default' do %><span>Rețetă nouă</span><% end %>
  <% end %>
  <%= render partial: 'modal', locals: { new: true, bs_toggle: "modal", modal_id: "newRecipeModal", recipe: @recipe } %>
  <%= render @recipes %>
</div>
