<h3 class="text-center">Scrie o recenzie, te rog!</h3>
<%= simple_form_for [@review, @recipe] do |f| %>
  <%= f.input :rating, collection: %i[1 2 3 4 5] %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>