<div class="links btn btn-custom btn-sm btn-block p-2">
  <div class='d-flex justify-content-around'>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Produse', categories_path %>
    <%= link_to 'Contact' %>
  </div>
</div>
