<div class="recipe-reviews-index">
  <% @reviews.each do |rev| %>
  <div class="recipe-reviews-card">
    <p><%= "Recenzie (id:#{rev.id}) - Rating: #{ "⭐️" * rev.rating} (#{rev.rating})" %></p>
    <p><%= rev.content %></p>
    <p><%= "Autor: #{rev.author}" %></p>
    <p><%= "Scrisă la: #{rev.created_at.to_s.split(' ')[0]}" %></p>
  </div>
    <% end %>
</div>