<div class="modal fade" id="disclaimerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">Precizare</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>IRINA SWEETSHOP S.R.L. nu este asociată în nicio formă cu restaurantele "La Irina".</p>
        <p>Precizarea nu este menită să discretiteze comerciantul numit mai sus, ci doar să clarifice situația!</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-close-disclaimer" class="btn btn-sm btn-default" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>