<div class="modal fade" id="disclaimerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fs-5 text-center" id="exampleModalLabel">Precizare</p>
      </div>
      <div class="modal-body text-center modal-body-text">
        <p>Pentru evitarea oricărei confuzii reamintim ceea ce clienții noștri vechi știu deja:</p>
        <p>Cofetăria cu laborator propriu Irina funcționează pe bazele laboratorului de prăjituri înființat în Bacău încă din anii '70.</p>
        <p><b>Cofetăria și Laboratorul Irina funcționează independent ca parte a Irina SweetShop S.R.L., nu fac și nu au făcut parte niciodată din lanțul de restaurante "La Irina" care funcționează în Bacău. Societățile noastre nu au acționariat comun și nu au avut nicio colaborare in trecut ori in prezent.</b></p>
        <p>Numele similar are la baza o simpla coincidență care sperăm să nu mai producă confuzie în percepția clienților noștri.</p>
        <p>Vă așteptăm cu mult drag în continuare!</p>
        <p>Precizarea nu este menită să discrediteze comerciantul numit mai sus, ci doar să clarifice situația!</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-close-disclaimer" class="btn btn-sm btn-default" data-bs-dismiss="modal">Închide</i></button>
      </div>
    </div>
  </div>
</div>