<div id='modal-2021-overlay'>
  <div class="modal-easter-container">
    <div class="modal-easter-top">
      <h1>2021</h1>
      <div class="modal-top-dates">
        <p>Paște catolic 4 aprilie</p>
        <p>Paște ortodox 2 mai</p>
      </div>
    </div>
    <div class="modal-easter-cards">
      <div class="modal-easter-cards-card">
        <h3>Cozonac cu nucă, rahat și stafide</h3>
        <img src="https://res.cloudinary.com/dqbu9lypc/image/upload/v1616140116/7u4jlhuk8alu6yau8kajcnbxujdo.png" alt="cozonac paste 2021">
        <h4>43 lei <span>/kg</span></h4>
      </div>
      <div class="modal-easter-cards-card">
        <h3>Pască cu brânză</h3>
        <img src="https://res.cloudinary.com/dqbu9lypc/image/upload/v1614884494/tyd6ytvsamrae1tis05q3vm9cq1a.png" alt="cozonac paste 2021">
        <h4>37 lei <span>/kg</span></h4>
      </div>
      <div class="modal-easter-cards-card">
        <h3>Pască cu smântână</h3>
        <img src="https://res.cloudinary.com/dqbu9lypc/image/upload/v1616139247/wph5z9123y9aorze1aff5xh6mu39.png" alt="cozonac paste 2021">
        <h4>37 lei <span>/kg</span></h4>
      </div>
      <div class="modal-easter-cards-card">
        <h3>Pască cu ciocolată</h3>
        <img src="https://res.cloudinary.com/dqbu9lypc/image/upload/v1616139802/moun9olczaz8a1njuxa49w7k8ifp.png" alt="cozonac paste 2021">
        <h4>38 lei <span>/kg</span></h4>
      </div>
    </div>
  </div>
  <div class="modal-2021-footer">
    <p>Comenzi și informații la 0755 054 002</p>
  </div>
  <button id="close-easter-modal">&times Am citit</button>
</div>