<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <% bootstrap_class = case type.to_sym
                      when :notice then 'alert-info'
                      when :alert, :error then 'alert-danger'
                      when :success then 'alert-success'
                      else 'alert-warning'
                      end %>
  <div class="alert <%= bootstrap_class %> alert-dismissible fade show m-1" role="alert">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
