<div class="footer font-one">
  <p class='text-center footer-text m-0'>・ Irina SweetShop s.r.l. ・ str. Mioriței, nr. 10, mun. Bacău ・</p>
  <p class='text-center footer-text m-0'>・ CIF: RO32692627 ・ O.R.C. Bacău: J04/70/2014 ・</p>
  <p class='text-center footer-text m-0'>・ Created with ❤️ by <a href="https://www.ursache.dev"><i class="fas fa-laptop-code color-fonts"></i></a> ●</p>
</div>