<div class="footer fonts-family">
  <p class='text-center footer-text m-0 pt-2 rem1-2'>Irina SweetShop s.r.l.</p>
  <p class='text-center footer-text m-0 rem1'><i class="fas fa-store-alt"></i> str. Miorița, nr. 10, Bacău -  <i class="fas fa-phone color-fonts hover-class"></i> 0755054002</p>
  <p class='text-center footer-text m-0 rem1'>Created with ❤️ by <a href="https://www.ursache.dev"><i class="fas fa-laptop-code color-fonts"></i></a></p>
</div>