<div class="footer fonts-family">
  <p class='text-center footer-text m-0 pt-2 rem1'>Irina SweetShop s.r.l.</p>
  <p class='text-center footer-text m-0 rem075'>str. Mioriței, nr. 10 - mun. Bacău || RO32692627 || J04/70/2014  </p>

  <p class='text-center footer-text m-0 rem075'>Created with ❤️ by <a href="https://www.ursache.dev"><i class="fas fa-laptop-code color-fonts"></i></a></p>
</div>