<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header color-fonts">
        <p class="modal-title text-center fonts-family fonts-700 rem1-5" id="exampleModalLongTitle">Procedura de comandă recomandată pe perioada pandemiei</p>
        <button type="button" class="close color-fonts" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body fonts-family color-fonts">
        <p class="text-center fonts-700 rem1-5">Procedurile următoare sunt pentru siguranța dvs. Dacă doriți să comandați în cofetărie și să plătiți cu CASH, sunați înainte!!!</p> 
<p class='rem1-2'> Comanda se va face telefonic, pe facebook prin mesaj privat sau whatsapp (vezi comezile rapide de jos).</p> 
<p class="fonts-700 rem1-5">Modalități de plată:</p> 
<p class="rem1-2"><i class="fas fa-credit-card"></i></i> Plata online prin transmiterea de către noi către numărul dvs de telefon a unui link de "plata online".</p> 
<p class="rem1-2"><i class="fab fa-cc-visa"></i> Plata cu card/cash la cofetăria Irina la data/ora stabilită de comun acord.</p> 
<p class="rem1-2"><i class="far fa-handshake"></i> Comanda va fi validată numai după achitarea avansului.</p>
<p class="rem1-2"><i class="fas fa-balance-scale"></i> Restul de plată, în urma cântăririi produselor se va achita în cofetăria Irina în momentul preluării comenzii.</p>
<p class="rem1-2"><i class="far fa-clock"></i> Ridicarea comenzii se va face în ziua și la ora stabilită. Vă rugăm să respectați întocmai programarea!</p>
<p class="fonts-700 rem1-5">Prețuri:</p>
<span class="rem1-5"><a href="tel:0040755054002"><i class="fas fa-mobile-alt color-fonts hover-class"></i></a><a href="tel:0040755054002">  <a href="https://api.whatsapp.com/send?phone=0040755054002&text=Bună ziua! Vă rog să-mi spuneți..."><i class="fab fa-whatsapp-square color-fonts"></i></a>
  </a><a href="https://www.facebook.com/cofetariebacau" target="_blank"><i class="fab fa-facebook-square color-fonts"></i></a>
</span>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-default button-rounded" data-dismiss="modal">Închide</button>
      </div>
    </div>
  </div>
</div>