<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header color-fonts">
        <p class="modal-title text-center fonts-family fonts-700 rem1-5" id="exampleModalLongTitle">Comenzi produse de Paște 2020</p>
        <button type="button" class="close color-fonts" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body fonts-family color-fonts">
        <p class="fonts-700 rem1-5">Procedura pentru comenzi va fi următoarea:</p> 
<p class='rem1-2'> Comanda se va face telefonic, pe facebook prin mesaj privat sau whatsapp (vezi comezile rapide în dreapta).</p> 
<p class="fonts-700 rem1-5">Modalități de plată:</p> 
<p class="rem1-2"><i class="fas fa-credit-card"></i></i> Plata online prin transmiterea de către noi către adresa dvs de email a unei facturi de avans cu buton de "plata online".</p> 
<p class="rem1-2"><i class="fab fa-cc-visa"></i> Plata cu CARD la cofetăria Irina la data/ora stabilită de comun acord, plata cu CASH nu va fi permisă.</p> 
<p class="rem1-2"><i class="far fa-handshake"></i> Comanda va fi validată numai după achitarea avansului.</p>
<p class="rem1-2"><i class="fas fa-balance-scale"></i> Restul de plată, în urma cântăririi produselor se va achita în cofetăria Irina doar cu CARD în momentul preluării comenzii.</p>
<p class="rem1-2"><i class="far fa-clock"></i> Ridicarea comenzii se va face în ziua și la ora stabilită. Vă rugăm să respectați întocmai programarea!</p>
<p class="fonts-700 rem1-5">Prețuri:</p>
<p class="rem1-2"><i class="fas fa-info-circle"></i> Cozonac - 40 de lei / kg</p>
<p class="rem1-2"><i class="fas fa-info-circle"></i> Pască cu brânză - 37 de lei / kg</p>
<p class="rem1-2"><i class="fas fa-info-circle"></i> Pască cu smântână - 37 de lei / kg</p>
<p class="rem1-2"><i class="fas fa-info-circle"></i> Pască cu ciocolată - 38 de lei / kg</p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-default button-rounded" data-dismiss="modal">Închide</button>
      </div>
    </div>
  </div>
</div>