<div class="social">
  <a href="https://www.facebook.com/cofetariebacau" target="_blank"><i class="fab fa-facebook-square color-fonts"></i></a>
  <a href="mailto:irina.sweetshop@gmail.com?Subject=Cerere%20ofertă" target="_top"><i class="far fa-envelope color-fonts"></i></a>
  <a href="https://goo.gl/maps/QZUaRqKmzaRJCjiA8" target="_blank"><i class="fas fa-map-marked-alt color-fonts"></i></a>
</div>