<div class="social mx-1">
  <a href="tel:0040755054002"><i class="fas fa-phone color-fonts hover-class"></i></a>
  <a href="https://api.whatsapp.com/send?phone=0040755054002&text=Bună ziua! Vă rog să-mi spuneți..."><i class="fab fa-whatsapp color-fonts"></i></a>
  <a href="mailto:irina.sweetshop@gmail.com?Subject=Cerere%20ofertă" target="_top"><i class="far fa-envelope color-fonts"></i></a>
  <a href="https://www.facebook.com/cofetariebacau" target="_blank"><i class="fab fa-facebook-square color-fonts"></i></a>
  <a href="https://goo.gl/maps/QZUaRqKmzaRJCjiA8" target="_blank"><i class="fas fa-map-marked-alt color-fonts"></i></a>
</div>