<div class="container-fluid font-family color-fonts">
  <div class="row justify-content-center">
    <div class="col-10 col-md-6 col-lg-7 about-top-margin">
      <p class="text-justify rem1-2"> <%= image_tag('pano_cof.jpg', class: "about-img my-3 about-rounded", alt: 'Cofetăria Irina') %> &nbsp; &nbsp; &nbsp; Laboratorul 
        de cofetărie-patiserie Irina produce de peste 40 de ani deserturi de cea mai bună calitate după rețete 
        clasice ale cofetăriei românești.  Lozinca noastră este: <b>'Ceea ce noi nu am mânca, nu vă dăm nici vouă, clienții noștri!'</b>
      </p>
      <%= image_tag('praj4.jpg', class: "my-3 mr-3 float-left about-rounded", size: '210x130', alt: 'Boema') %>
      <p class="text-justify rem1-2">  "100% natural", "rețete românești", "tradițional" sunt concepte noi pentru unii, 
        dar absolut firești pentru noi de-a lungul acestor decenii de activitate. În ultimii ani am adaptat rețete occidentale în așa fel încât să le putem prepara din
         ingrediente de calitate superioară de la 'zero' și nu din premixuri sau semi-preparate.</p>
      <%= image_tag('praj1.jpg', class: "my-3 ml-3 float-right about-rounded", size: '210x130', alt: 'Boema') %>
      <p class="text-justify rem1-2">&nbsp; &nbsp; &nbsp; Acum câțiva ani am fost întrebați ce vom face cu toată concurența care are produse "lucioase", cu termen de garanție foarte lung, etc., 
        iar răspunsul nostru a fost simplu și este de actualitate: <b>'Dacă nu vor mai fi amatori de prăjituri preparate de la un capăt la altul în laborator, cu unt 
        și nu cu margarină, cu ouă și lapte, nu cu prafuri, cu frișcă naturală... atunci nu ne rămâne decât să închidem. Nu vom produce niciodată 'fake-uri'!</p></b> 
    </div>
      
    <div class="col-10 col-md-4 col-lg-4 about-top-margin d-flex flex-column justify-content-center mb-5 pb-5">
      <div class="generic-border about-info-box p-4 mb-5">
        <p class="text-center rem1-5 fonts-700">
          "Cofetăria Irina"
          </p>
        <p class="text-center rem1-1">
          este o marcă a Irina Sweetshop S.R.L. parte a grupului de firme
        </p>
        <p class="text-center rem1-3 fonts-700">
          <%= link_to "Markov Services S.A.", "http://www.markov.ro" %>
        </p>
        <p class="text-center rem1-1">
          Sediul social: mun. Bacău, str. Mioriței, nr. 10
        </p>
        <p class="text-center rem1-1">
          Nr. O.R.C. J04/70/2014 || CUI RO 32692627 
        </p>
        <p class="text-center rem1-1">
          Telefon owner: +40 744 527 976 
        </p>
        <p class="text-center rem1-1">
          e-mail owner: gabriel@markov.ro 
        </p>
      </div>
    </div>
  </div>
</div>