<div class="about-main-container">
    <div class="about-presentation">
      <%= cl_image_tag("IMG_0675_afiwvn.png", class: "img-pano py-3", alt: 'Cofetăria Irina', fetch_format: :webp, width: 1000, crop: :scale) %>
      <h1 class='text-center py-5 big-title'>Laboratorul de cofetărie-patiserie Irina</h1>
      <p> produce de peste 40 de ani deserturi de cea mai bună calitate după rețete 
       ale cofetăriei românești <b>de la care nu ne abatem.</b>
      </p>
      <%#= image_tag('praj4.jpg', class: " float-left mr-3 my-3", size: '210x130', alt: 'Boema') %>
      <p>  "100% natural", "rețete românești", "tradițional" sunt concepte noi pentru unii, 
        dar absolut firești pentru noi de-a lungul acestor decenii de activitate. În ultimii ani am adaptat rețete occidentale în așa fel încât să le putem prepara din
         ingrediente de calitate superioară de la 'zero' și nu din premixuri sau semi-preparate.</p>
      <%#= image_tag('praj1.jpg', class: "float-right ml-3 my-3", size: '210x130', alt: 'Boema') %>
      <p>Fiecare preparat este produs din ingrediente de cea mai bună calitate, din surse verificate și certificate. Folosim <b>unt</b>, nu margarină, <b>ouă și lapte</b>, nu prafuri, <b>frișcă naturală</b>, 
        nu vegetală sau la tub; niciun fel de premixuri, amelioratori sau conservanți nu  intră în compoziția produselor preparate la noi în laborator.</p>
      </div>
      <p class='text-center'>Cu noi aveți garanția că aveți pe masă produse gustoase și de calitate superioară.</p>
      <hr class="border border-danger border-2 opacity-50 w-100">
      <div class="about-disclaimer">
        <p>Pentru evitarea oricărei confuzii subliniem ceea ce clienții noștri vechi știu deja:</p>
        <p>Cofetăria cu laborator propriu Irina funcționează pe bazele laboratorului de prăjituri înființat în Bacău încă din anii '70.</p>
        <p><b>Cofetăria și Laboratorul Irina funcționează independent ca parte a Irina SweetShop S.R.L., nu fac și nu au făcut parte niciodată din lanțul de restaurante "La Irina" care funcționează în Bacău. Societățile noastre nu au acționariat comun și nu au avut nicio colaborare in trecut ori in prezent.</b></p>
        <p>Numele similar are la baza o simpla coincidență care sperăm să nu mai producă confuzie în percepția clienților noștri.</p>
        <p>Vă așteptăm cu mult drag în continuare!</p>
        <p>Precizarea nu este menită să discrediteze comerciantul numit mai sus, ci doar să clarifice situația!</p>
      </div>
      <hr class="border border-danger border-2 opacity-50 w-100">
      <div class="about-map">
        <h3>Cum ajungi la noi?</h3>
        <iframe class="about-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2742.888740806283!2d26.912142416250973!3d46.56966546701924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b56fe023459ddb%3A0xf5cd3bab89e8fdcb!2sCOFETARIA%20IRINA%20-Bac%C4%83u!5e0!3m2!1sro!2sro!4v1673108873521!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
</div>

