<div class="container-fluid fonts-family color-fonts">
  <div class="row justify-content-center">
    <div class="col-11 col-md-10 col-lg-10 about-top-margin">
      <h2 class="text-center fonts-family fonts-700">Despre cofetăria Irina</h2>
      <p class="text-justify mt-5 rem1-2"> <%= image_tag('pano_cof.jpg', class: "about-img my-3 about-rounded", alt: 'Cofetăria Irina') %> &nbsp; &nbsp; &nbsp; Laboratorul 
        de cofetărie-patiserie Irina produce de peste 40 de ani deserturi de cea mai bună calitate după rețete 
        clasice ale cofetăriei românești.  Lozinca noastră este: <b>'Ceea ce noi nu am mânca, nu vă dăm nici vouă, clienții noștri!'</b>
      </p>
      <%= image_tag('praj4.jpg', class: "my-3 mr-3 float-left about-rounded", size: '210x130', alt: 'Boema') %>
      <p class="text-justify rem1-2">  "100% natural", "rețete românești", "tradițional" sunt concepte noi pentru unii, 
        dar absolut firești pentru noi de-a lungul acestor decenii de activitate. În ultimii ani am adaptat rețete occidentale în așa fel încât să le putem prepara din
         ingrediente de calitate superioară de la 'zero' și nu din premixuri sau semi-preparate.</p>
      <%= image_tag('praj1.jpg', class: "my-3 ml-3 float-right about-rounded", size: '210x130', alt: 'Boema') %>
      <p class="text-justify rem1-2">&nbsp; &nbsp; &nbsp; Acum câțiva ani am fost întrebați ce vom face cu toată concurența care are produse mai ochioase, cu termen de garanție foarte lung, etc., 
        iar răspunsul nostru a fost simplu și este de actualitate: <b>'Dacă nu vor mai fi amatori de prăjituri preparate de la un capăt la altul în laborator, cu unt 
        și nu cu margarină, cu ouă și lapte, nu cu prafuri, cu frișcă naturală... atunci nu ne rămâne decât să închidem. Nu vom produce niciodată 'fake-uri'!</p></b> 
      <p class="text-center m-0 rem1">
        Cofetăria Irina este o marcă a Irina Sweetshop S.R.L. parte a grupului de firme Markov Services
      </p>
      <p class="text-center m-0 rem075">
        * sediul social în mun. Bacău, str. Mioriței, nr. 10 || Număr O.R.C. J04/70/2014 || CUI RO 32692627 
      </p>
      <p class="text-center m-0 rem075">
        * telefon owner: +40 744 527 976 || email owner: gabriel@markov.ro 
      </p>
    </div>
  </div>
</div>