<div class="about-main-container">
    <div class="about-presentation">
      <%= cl_image_tag("IMG_0675_afiwvn.png", class: "img-pano py-3", alt: 'Cofetăria Irina') %>
      <h1 class='text-center py-5 big-title'>Laboratorul de cofetărie-patiserie Irina</h1>
      <p> produce de peste 40 de ani deserturi de cea mai bună calitate după rețete 
       ale cofetăriei românești <b>de la care nu ne abatem.</b>
      </p>
      <%= image_tag('praj4.jpg', class: " float-left mr-3 my-3", size: '210x130', alt: 'Boema') %>
      <p>  "100% natural", "rețete românești", "tradițional" sunt concepte noi pentru unii, 
        dar absolut firești pentru noi de-a lungul acestor decenii de activitate. În ultimii ani am adaptat rețete occidentale în așa fel încât să le putem prepara din
         ingrediente de calitate superioară de la 'zero' și nu din premixuri sau semi-preparate.</p>
      <%= image_tag('praj1.jpg', class: "float-right ml-3 my-3", size: '210x130', alt: 'Boema') %>
      <p>Fiecare preparat este produs din ingrediente de cea mai bună calitate, din surse verificate și certificate. Folosim <b>unt</b>, nu margarină, <b>ouă și lapte</b>, nu prafuri, <b>frișcă naturală</b>, 
        nu vegetală sau la tub; niciun fel de premixuri, amelioratori sau conservanți nu  intră în compoziția produselor preparate la noi în laborator.</p>
      </div>
      <p class='text-center'> Cu noi aveți garanția că aveți pe masă produse gustoase și de calitate superioară  .</p>
</div>

