<div class="container dashboard-container">
  <% if current_user && current_user.admin %>
    <div class="row justify-content-center">
      <div class="col-12 mt-5 pt-5 ">
        <% User.all.each do |u| %>
          <%= u.email %>
          <%= u.admin %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= User.all.count %>
      </div>
    </div>
    <div class="design-dashboard">
      <%= link_to 'designs', '/dashboard/designs' %>
    </div>
  </div>
  <% end %>