<% content_for (:title) {'Cofetăria Irina - Bacău - Landing page'} %>
<div class="home-page ">
  <p class='punch-line-1'>Gustul copilăriei ?</p>
  <%= link_to "Îl găsești la noi !", categories_path, class: 'btn punch-line-2 rounded-pill px-5 py-2' %>
  <div class='punch-lines fonts-family pt-5'>
      <p class="text-left ml-4"><i class="fas fa-cookie-bite mr-4"></i>200+ de rețete de prăjituri ?</p> 
      <p class="text-left ml-4"><i class="fas fa-birthday-cake mr-4"></i>Sute de modele de torturi  ?</p>
      <p class="text-left ml-4"><i class="far fa-image mr-4"></i></i>Fotografii comestibile ?</p>
      <p class="text-left ml-4"><i class="fas fa-seedling mr-4"></i>Produse naturale ?</p>
      <p class="text-left ml-4"><i class="fas fa-home mr-4"></i>Produse tradiționale ?</p>
  </div>
  <div class="social-home">
    <a href="tel:0040755054002"><i class="fas fa-phone color-fonts"></i></a>
    <a href="https://api.whatsapp.com/send?phone=0040755054002&text=Bună ziua! Vă rog să-mi spuneți..."><i class="fab fa-whatsapp color-fonts"></i></a>
    <a href="mailto:irina.sweetshop@gmail.com?Subject=Cerere%20ofertă" target="_top"><i class="far fa-envelope color-fonts"></i></a>
    <a href="https://www.facebook.com/cofetariebacau" target="_blank"><i class="fab fa-facebook-square color-fonts"></i></a>
    <a href="https://goo.gl/maps/QZUaRqKmzaRJCjiA8" target="_blank"><i class="fas fa-map-marked-alt color-fonts"></i></a>
  </div>
</div>
<%= link_to "Intră aici", categories_path, class: 'btn position-relative btn-homepage button-default button-rounded fonts-family rem1-5' %>
