<% content_for (:title) {'Cofetăria Irina - Bacău - Landing page'} %>
<div class="home-page ">
  <p class='punch-line-1'>Gustul copilăriei ?</p>
  <%= link_to "Îl găsești la noi !", categories_path, class: 'btn punch-line-2 rounded-pill px-5 py-2' %>
  <div class='punch-lines fonts-family pt-5'>
      <p class="text-left ml-4"><i class="fas fa-cookie-bite mr-4"></i>200+ de rețete de prăjituri ?</p> 
      <p class="text-left ml-4"><i class="fas fa-birthday-cake mr-4"></i>Sute de modele de torturi  ?</p>
      <p class="text-left ml-4"><i class="far fa-image mr-4"></i></i>Fotografii comestibile ?</p>
      <p class="text-left ml-4"><i class="fas fa-seedling mr-4"></i>Produse naturale ?</p>
      <p class="text-left ml-4"><i class="fas fa-home mr-4"></i>Produse tradiționale ?</p>
  </div>
  <div class="social-home">
    <a href="tel:0040755054002"><i class="fas fa-phone color-fonts"></i></a>
    <a href="https://api.whatsapp.com/send?phone=0040755054002&text=Bună ziua! Vă rog să-mi spuneți..."><i class="fab fa-whatsapp color-fonts"></i></a>
    <a href="mailto:irina.sweetshop@gmail.com?Subject=Cerere%20ofertă" target="_top"><i class="far fa-envelope color-fonts"></i></a>
    <a href="https://www.facebook.com/cofetariebacau" target="_blank"><i class="fab fa-facebook-square color-fonts"></i></a>
    <a href="https://goo.gl/maps/QZUaRqKmzaRJCjiA8" target="_blank"><i class="fas fa-map-marked-alt color-fonts"></i></a>
  </div>
</div>
<!-- <%= link_to "Intră aici", categories_path, class: 'btn position-relative btn-homepage button-default button-rounded fonts-family rem1-5' %> -->
<a class="btn position-relative btn-homepage button-default button-rounded fonts-family rem1-5 color-fonts" data-toggle="modal" data-target="#exampleModalLong">
  Paște 2020
</a>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header color-fonts">
        <p class="modal-title text-center fonts-family fonts-700 rem1-5" id="exampleModalLongTitle">Comenzi produse de Paște 2020</p>
        <button type="button" class="close color-fonts" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body fonts-family color-fonts">
        <p class="fonts-700 rem1-5">Procedura pentru comenzi va fi următoarea:</p> 
<p class='rem1-2'> Comanda se va face telefonic, pe facebook prin mesaj privat sau whatsapp (vezi comezile rapide în dreapta).</p> 
<p class="fonts-700 rem1-5">Modalități de plată:</p> 
<p class="rem1-2"><i class="fas fa-credit-card"></i></i> Plata online prin transmiterea de către noi către adresa dvs de email a unei facturi de avans cu buton de "plata online".</p> 
<p class="rem1-2"><i class="fab fa-cc-visa"></i> Plata cu CARD la cofetăria Irina la data/ora stabilită de comun acord, plata cu CASH nu va fi permisă.</p> 
<p class="rem1-2"><i class="far fa-handshake"></i> Comanda va fi validată numai după achitarea avansului.</p>
<p class="rem1-2"><i class="fas fa-balance-scale"></i> Restul de plată, în urma cântăririi produselor se va achita în cofetăria Irina doar cu CARD în momentul preluării comenzii.</p>
<p class="rem1-2"><i class="far fa-clock"></i> Ridicarea comenzii se va face în ziua și la ora stabilită. Vă rugăm să respectați întocmai programarea!</p>
<p class="fonts-700 rem1-5">Prețuri:</p>
<p class="rem1-2"><i class="fas fa-info-circle"></i> Cozonac - 40 de lei / kg</p>
<p class="rem1-2"><i class="fas fa-info-circle"></i> Pască cu brânză - 37 de lei / kg</p>
<p class="rem1-2"><i class="fas fa-info-circle"></i> Pască cu smântână - 37 de lei / kg</p>
<p class="rem1-2"><i class="fas fa-info-circle"></i> Pască cu ciocolată - 38 de lei / kg</p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-default button-rounded" data-dismiss="modal">Închide</button>
      </div>
    </div>
  </div>
</div>