<div class="order-main-container">
  <p><i class="fas fa-info-circle"></i>&nbsp; Până la implementarea sistemului de comandă prin site, comanda se va face telefonic, pe Facebook prin mesaj privat sau WhatsApp (vezi comezile rapide de jos sau dreapta).</p>
  <p class="intend">Modalități de plată:</p>
  <p><i class="fas fa-credit-card"></i>&nbsp;  Plata online prin transmiterea de către noi către numărul dvs de telefon sau pe adresa de e-mail a unui link de "plata online".</p> 
  <p><i class="fab fa-cc-visa"></i>&nbsp;   Plata cu card/cash la Cofetăria Irina la data/ora stabilită de comun acord.</p> 
  <p><i class="far fa-handshake"></i>&nbsp;   Comanda va fi validată numai după achitarea avansului.</p>
  <p><i class="fas fa-balance-scale"></i>&nbsp;   Restul de plată, în urma cântăririi produselor se va achita în cofetăria Irina în momentul preluării comenzii.</p>
  <!-- <p><i class="far fa-clock"></i>&nbsp;   Ridicarea comenzii se va face în ziua și la ora stabilită. Vă rugăm să respectați întocmai programarea!</p> -->
  <hr>
  <p class="intend">Termene și condiții</p>
  <p><i class="fas fa-info-circle"></i>&nbsp;   Comanda se achită în proporție de 50% în avans și se validează doar după plata avansului.</p>
  <p><i class="fas fa-info-circle"></i>&nbsp;   Comanda se execută în minim de 24 de ore de la validarea ei.</p>
  <p><i class="fas fa-info-circle"></i>&nbsp;   Comanda se poate anula cel mai tîrziu cu două zile înainte de termenul de livrare. </p>
</div>