<div class="order-main-container">
  <p class="intend">În caz de carantină generală, urmați procedura <span><a href="#" data-toggle="modal" data-target="#exampleModalLong">#covid-19</a></span>, altfel: </p> 
  <p class=""> Până la implementarea sistemului de comandă prin site, comanda se va face telefonic, pe Facebook prin mesaj privat sau WhatsApp (vezi comezile rapide de jos sau dreapta).</p> 
  <p class="intend">Modalități de plată:</p> 
  <p class=""><i class="fas fa-credit-card"></i>&nbsp;  Plata online prin transmiterea de către noi către numărul dvs de telefon sau pe adresa de e-mail a unui link de "plata online".</p> 
  <p class=""><i class="fab fa-cc-visa"></i>&nbsp;   Plata cu card/cash la Cofetăria Irina la data/ora stabilită de comun acord.</p> 
  <p class=""><i class="far fa-handshake"></i>&nbsp;   Comanda va fi validată numai după achitarea avansului.</p>
  <p class=""><i class="fas fa-balance-scale"></i>&nbsp;   Restul de plată, în urma cântăririi produselor se va achita în cofetăria Irina în momentul preluării comenzii.</p>
  <p class=""><i class="far fa-clock"></i>&nbsp;   Ridicarea comenzii se va face în ziua și la ora stabilită. Vă rugăm să respectați întocmai programarea!</p>
  <hr>
  <p class="intend">Prețuri:</p>
  <span class="">
    <a href="tel:0040755054002"><i class="fas fa-phone"></i></a>
    <a href="https://api.whatsapp.com/send?phone=0040755054002&text=Bună ziua! Vă rog să-mi spuneți..."><i class="fab fa-whatsapp"></i></a>
    <a href="https://www.facebook.com/cofetariebacau" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="http://www.irinasweet.ro/categories"><i class="fab fa-internet-explorer"></i></a>
  </span>
  <hr>
  <p class="intend">Termene și condiții</p>
  <p class=""><i class="fas fa-info-circle"></i>&nbsp;   Comanda se achită în proporție de 75% în avans și se validează doar după plata avansului.</p>
  <p class=""><i class="fas fa-info-circle"></i>&nbsp;   Comanda se execută în minim de 24 de ore de la validarea ei.</p>
  <p class=""><i class="fas fa-info-circle"></i>&nbsp;   Comanda se poate anula cel mai tîrziu cu 48 de ore înainte de termenul de livrare. Dacă nu este stabilită o oră anume, atunci se ia în considerare ora 12:00 pm din ziua livrării.</p>
</div>