<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 col-md-8 about-top-margin">
      <div class="font-family color-fonts general-text-shadow_light">
        <p class="fonts-700 rem1-5">Pe perioada pandemiei cu Covid-19 urmați procedura din meniul dedicat "Covid-19", altfel: </p> 
        <p class='rem1-3'> Până la implementarea sistemului de comandă prin site, comanda se va face telefonic, pe Facebook prin mesaj privat sau WhatsApp (vezi comezile rapide de jos sau dreapta).</p> 
        <p class="fonts-700 rem1-3">Modalități de plată:</p> 
        <p class="rem1-2"><i class="fas fa-credit-card"></i>&nbsp;  Plata online prin transmiterea de către noi către numărul dvs de telefon a unui link de "plata online".</p> 
        <p class="rem1-2"><i class="fab fa-cc-visa"></i>&nbsp;   Plata cu card/cash la cofetăria Irina la data/ora stabilită de comun acord.</p> 
        <p class="rem1-2"><i class="far fa-handshake"></i>&nbsp;   Comanda va fi validată numai după achitarea avansului.</p>
        <p class="rem1-2"><i class="fas fa-balance-scale"></i>&nbsp;   Restul de plată, în urma cântăririi produselor se va achita în cofetăria Irina în momentul preluării comenzii.</p>
        <p class="rem1-2"><i class="far fa-clock"></i>&nbsp;   Ridicarea comenzii se va face în ziua și la ora stabilită. Vă rugăm să respectați întocmai programarea!</p>
        <hr>
        <p class="fonts-700 rem1-5">Prețuri:</p>
        <span class="rem1-5"><a href="tel:0040755054002"><i class="fas fa-phone color-fonts hover-class"></i></a><a href="tel:0040755054002">  <a href="https://api.whatsapp.com/send?phone=0040755054002&text=Bună ziua! Vă rog să-mi spuneți..."><i class="fab fa-whatsapp color-fonts"></i></a>
          </a><a href="https://www.facebook.com/cofetariebacau" target="_blank"><i class="fab fa-facebook-square color-fonts"></i></a>
        </span>
        <hr>
        <p class="fonts-700 rem1-5">Termene și condiții</p>
        <p class="rem1-2"><i class="fas fa-info-circle"></i>&nbsp;   Comanda se achită în proporție de 75% în avans și se validează doar după plata avansului.</p>
        <p class="rem1-2"><i class="fas fa-info-circle"></i>&nbsp;   Comanda se execută în minim de 24 de ore de la validarea ei.</p>
        <p class="rem1-2 text-justify"><i class="fas fa-info-circle"></i>&nbsp;   Comanda se poate anula cu cel mult 48 de ore înainte de termenul de livrare. Dacă nu este stabilită o oră anume, atunci se ia în considerare ora 12:00 pm din ziua livrării.</p>
      </div>
    </div>
  </div>
</div>