<% if @category.has_recipe && @category.has_models%>
  <div class="category-recipes-index row justify-content-around pb-5 mb-5 active-section-index">
    <%= render 'partials/categories/recipe' %>
  </div>
  <div class="category-models-index row justify-content-around pb-5 mb-5 inactive-section-index">
    <%= render 'partials/categories/cakemodel' %>
  </div>
<% elsif @category.has_models %>
  <div class="category-models-index row justify-content-around pb-5 mb-5 active-section-index">
    <%= render 'partials/categories/cakemodel' %>
  </div>
<% end  %>