<% if @category.has_recipe && @category.has_models%>
    <p class="px-3 py-1 active-section-btn rem1-3 category-show-buttons-hover section-btn-recipe">Rețete</p>
    <p class="px-3 py-1 rem1-3 inactive-section-btn category-show-buttons-hover section-btn-model"> Prezentare</p>
<% elsif @category.has_recipe %>
  <p class="px-3 py-1 active-section-btn rem1-3 category-show-buttons-hover section-btn-recipe">Rețete</p>
<% elsif  @category.has_models %>
  <p class="px-3 py-1 rem1-3 active-section-btn category-show-buttons-hover section-btn-model"> Prezentare</p>
<% end %>

