<% if @category.has_recipe && @category.has_models%>
    <p class="px-3 py-1 active-section-btn  rem1-3 category-show-buttons-hover section-btn-recipe font-section font-titles">Rețete</p>
    <p class="px-3 py-1  inactive-section-btn rem1-3 category-show-buttons-hover section-btn-model font-section font-titles"> Prezentare</p>
<% elsif @category.has_recipe %>
  <p class="px-3 py-1 active-section-btn rem1-3 category-show-buttons-hover section-btn-recipe font-section font-titles">Rețete</p>
<% elsif  @category.has_models %>
  <p class="px-3 py-1 active-section-btn rem1-3 category-show-buttons-hover section-btn-model font-section font-titles"> Prezentare</p>
<% end %>

