<div class="container">
  <div class="row">
    <div class="col my-5 pt-5">
      <p class='my-5 rem1-3 fonts-family color-fonts'>Sumarul contului pentru userul: <b><%= @devise_user.email %></b></p>
      <p class='rem1-2 fonts-family color-fonts'>Aici vei găsi în curând detaliile contului tău: comenzi, produse preferate...</p>
    </div>
  </div>
</div>