.btn-default {
  background-color: $bkg-color;
  color: $font-color;
  border-radius: 3px;
  padding: 1vh 3vw;
  font-size: 14px;
  font-weight: 400;
  &:hover {
    color: $hover-color;
  }
  @media (min-width: 901px) {
    font-size: 16px;
    padding: 1vh 3vw;
  }
}

.btn-user-forms {
  display: block;
}

.btn-products {
  position: relative;
}
