.btn-default {
  background-color: $bkg-color;
  color: $font-color;
  border-radius: 3px;
  padding: 1vh 3vw;
  font-size: 14px;
  font-weight: 400;
  &:hover {
    color: $hover-color;
  }
  @media (min-width: 901px) {
    font-size: 16px;
    padding: 1vh 3vw;
  }
}

.btn-user-forms {
  display: block;
}

.btn-products {
  position: relative;
}

.btn-next-prev-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2em 0;
  .btn-next-prev {
    display: relative;
    color: $font-color;
    box-shadow: 1px 1px 2px #00000040;
    padding: 3px 15px;
    font-size: 1.3rem;
    border: 1px solid $font-color;
    border-radius: 3px;
    &:active {
      box-shadow: none;
    }
    @media (min-width: 900px) {
      font-size: 14px;
    }
  }
  @media (min-width: 900px) {
    width: 60%;
  }
}




.btn-delete {
  margin: 10px 0 0;
  a {
    color: $font-color;
    }
}