.button-default {
  color: $official-color;
  border-width: .8px;;
  border-color: $official-color;
    &:hover {
      text-decoration: none;
      border-color: $hover-color;
      color: $hover-color;
      font-weight: 700;
    }
    a {
      color: $official-color;
      text-decoration: none;
      &:hover {
        color: $hover-color;
        font-weight: 700;
      }
    }
}

.button-new-recipe_setup {
  position: relative;
  left: 25%;
  width: 50%;
  max-height: 7vh;
  border: .5px solid $official-color;
}

.button-review-setup {
  bottom: 30px;
  font-size: 1.4rem;
  border-style: solid none solid none;
}

.button-rounded {
  border-radius: 10px;
}