.cards-container {
  position: relative;
  top: 10vh;
}
.card-container {
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 7px lightgrey;
  border-radius: 20px;
  margin: 20px 0;
  padding: 0;
  max-height: 700px;
  max-width: 320px;
  a {
    font-size: .8rem;
    color: lightgrey;
    text-decoration: none;
    border: 1px solid lightgrey;
    border-radius: 40px;
    margin: 5px;
    padding: 2px 7px;
      &:hover {
        color: darkgrey;
        border-color: darkgrey;
      }
    }
}

.card-overflow {
  overflow: scroll;
  img {
    min-height: 300px;
  }
}
.card-image {
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: top;
  min-height: 250px;
  max-height: 250px;
}
.card-category_name {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.card-title {
  font-size: 1.4rem;
}

.category-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $navbar-background;
  height: 10vh;
  width: 100%;
  border-radius: 30px;
  a {
    color: white;
  }
}

.card-content {
  font-size: .7rem;
  padding: 0 1rem;
}

.rating-total {
  font-size: 12px;
}

.rating-card_holder {
  overflow: visible;
    h6 {
      font-size: 14px;;
    }
    p {
      font-size: 12px;
      line-height: .7rem;
    }
    a {
      color: black;
    }
}

.rating-card {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.small-letters {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  color: $official-color;
}