.cards-container {
  top: 5vh;
  position: relative;
  height: 100%;
  width: 100%;
}
.card-container {
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 7px lightgrey;
  border-radius: 20px;
  margin: 20px 0;
  padding: 0;
  a {
    font-size: .8rem;
    color: $official-color;
    text-decoration: none;
    border: 1px solid $official-color;
    border-radius: 40px;
    margin: 5px;
    padding: 2px 7px;
      &:hover {
        color: $official-color;
        border-color: $official-color;
      }
    }
}

.card-image {
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 400px;
}
.card-category_name {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.card-title {
  font-size: 1.4rem;
  color: $official-color;
}



.card-content {
  font-size: .7rem;
  padding: 0 1rem;
}

.rating-total {
  font-size: 12px;
}

.rating-card {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.small-letters {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  color: $official-color;
}

.category-index-hover {
  a {
    &:hover {
      color: $hover-color;
      border: 1px solid $hover-color;
    }
  }
}
