.category-card {
  position: relative;
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 2px 15px #00000020, -2px -2px 15px #00000020;
  .card-crud {
    position: absolute;
    top: 10px;
    left: 10px;
    background: $all-white;
    padding: 2px 6px;
    border-radius: 10px;
  }
  @media(min-width: 1000px) {
    height: 250px;
    width: 500px;
    flex-direction: row;
  }
  .category-card__photo {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .category-card__info {
    position: relative;
    height: 70%;
    width: 100%;
    background-color: $earth-yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: $all-white;
    @media(min-width: 1000px) {
      height: 100%;
    }
    h2 {
      font-size: clamp(16px, 2.5rem, 32px);
    }
    p {
      text-align: center;
      padding: 0 1rem;
      font-size: clamp(12px, 1.2rem, 15px);
    }
    .category-card__button {
      position: relative;
      border: 1px solid $all-white;
      background-color: $earth-yellow;
      padding: 0.3rem 2rem;
      border-radius: 10px;
      color: $all-white;
      font-size: 1rem;
      &:hover {
        background-color: $all-white;
        color: $earth-yellow;
      }
    }
  }
}

