.footer {
  position: relative;
  font-family: $font-title;
  font-weight: 100;
  width: 100%;
  background-color: $bkg-color;
  color: $font-color;
  padding: 3vh 4vw;
  font-size: .80rem;
  letter-spacing: .06em;
  span {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .footer-main {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    p {
      a {
        color: $font-color;
      }
    }
    .footer-left {
      width: 65%;
      @media (min-width: 951px) {
        width: 80%;
      }
    }
    .footer-right {
      width: 35%;
      @media (min-width: 951px) {
        width: 20%;
      }
    }
  }
  .copyright {
    text-align: center;
    .copyright-line-1 {
      span {
        font-size: 1rem;
      }
    }
    .copyright-line-2 {
      display: flex;
      justify-content: center;
      align-items: baseline;
      img {
        margin: 0 .5rem;
        width: 4rem;
      }
      #webdev {
        font-family: 'Frijole'; 
        font-variant: small-caps; 
        font-size: .7rem;
        margin-left: .5rem;
      }
      #rou-flag {
        width: 2rem;
      }
    }
  }
}