.footer {
  width: 100%;
  height: 70px;
  bottom: 0;
  position: relative;
  background-color: $navbar-background;
}

.footer-text {
  font-size: 14px;
  color: $official-color;
  font-size: .7rem;
}
.fa-phone-square-alt {
  color: white;
  font-size: 20px;
}