.fonts-family {
  font-family: 'Life Savers';
}

.fonts-700 {
  font-weight: 700;
}

.rem075 {
  font-size: .75rem !important;
}

.rem1 {
  font-size: .92rem !important;
}

.rem1-2 {
  font-size: 1.2rem !important;
}

.rem1-3 {
  font-size: 1.3rem !important;
}
.rem1-5 {
  font-size: 1.5rem !important;
}

.color-fonts{
  color: $official-color !important;
  a {
    color: $official-color;
  }
}

.brown-background {
  background-color: $navbar-background;
}

.top-margin {
  top: 10vh;
}

.hover-class {
  &:hover {
    color: $hover-color;
  }
}

.border-bottom-custom {
  border-bottom: 1px solid $official-color;
}