// .modal {
//   top: 15vh;
//   height: 70vh;
//   color: $font-color;
//   font-family: $font-title;
//   font-size: 1.5rem;
//   @media (min-width: 951px) {
//     font-size: .9rem;
//   }
//   .modal-header {
//     background-color: $light-bkg-color;
//     font-size: 1.2em;
//     border-bottom: 1px solid $font-color;
//     .close {
//       color: inherit;
//     }
//   }
//   .modal-body {
//     background-color: $light-bkg-color;
//     font-weight: 100;
//     .warning {
//       display: flex;
//       align-items: center;
//     }
//     p {
//       margin-bottom: 5px;
//     }
//     a {
//       color: inherit;
//     }
//     .red {
//       color: red;
//       text-align: center;
//       padding: 5px 10px;
//       span {
//         color: orange;
//         font-weight: 300;
//       }
//     }
//   }
//   .modal-footer {
//     background-color: $light-bkg-color;
//     border-top: 1px solid $font-color;
//     .btn {
//       color: inherit;
//       font-size: inherit;
//     }
//   }
// }