.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: $navbar-background !important;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.nav-link_custom {
  color: $official-color !important;
}

.navbar-custom {
  color: $official-color;
  font-size: 40px;
}

.navbar-brand {
  img {
    width: 40px;
  }
}


.dropdown-menu {
  border: none;
}

.dropdown-menu-custom {
  left: -150px;
}

.dropdown-menu-custom_links {
  left: -80px;
}
.dropdown-item:hover {
  background-color: $navbar-background-hover;
}

.navbar-title {
  height: 100%;
  color: white;
  font-size: 2.5rem;
  align-self: center;
}