.navbar {
  border-bottom: 1px solid black;
  height: calc(var(--vh) * 10);
  min-height: 65px;
}

.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: $bkg-color !important;
  z-index: 100;
  font-family: $font-title;
  font-weight: 300;
  padding: 0 20px !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  ul {
    background-color: $bkg-color;
  }
}

.navbar-brand {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 80%;
    max-height: calc(var(--vh) * 10);
  }
}

// .navbar-lewagon .navbar-brand img {
//   margin: 15% 0 10% 20%;
// }

.nav-link {
  color: $font-color !important;
}

.navbar-custom {
  color: $font-color;
  font-size: calc(var(--vh) * 4);
}


.dropdown-menu {
  border: none;
  background-color: $font-color;
}

.dropdown-menu-custom {
  left: -150px;
}

.dropdown-item {
  font-weight: 300;
  background-color: $font-color;
  font-size: 1.5rem !important;
  color: $light-bkg-color !important;
  padding: 0 10px;
  margin-bottom: 5px;
  @media (min-width: 901px) {
    font-size: 1rem !important;
    padding: 0;
  }
}

.dropdown-menu-custom_links {
  left: -80px;
}
.dropdown-item:hover {
  background-color: $font-color;
}

.navbar-title {
  height: 100%;
  color: $font-color;
  font-size: clamp(14px, 3rem, 5vw);
  font-weight: 800;
  align-self: center;
  letter-spacing: 1.2px;
}

.nav-item {
  a {
    color: $font-color;
    font-size: 2rem;
  }
  @media (min-width: 901px) {
    a {
      font-size: 1.3rem;
    }
  }
}