
.navbar {
  height: unquote("calc(var(--vh) * 8.5)");
  min-height: 65px;
}

.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: $jungle-green !important;
  z-index: 100;
  // font-family: $font-title;
  font-weight: 300;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  ul {
    background: $jungle-green !important;
    padding-right: 2rem;
  }
}

.navbar-brand {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 70%;
    max-height: unquote("calc(var(--vh) * 9)");
    z-index: 1;
  }
}

// .navbar-lewagon .navbar-brand img {
//   margin: 15% 0 10% 20%;
// }

.nav-link {
  color: $all-white !important;
}

.navbar-custom {
  color: $all-white;
  font-size: clamp(13px, 3rem, 10vw);
}


.dropdown-menu {
  border: none;
  background-color: $all-white;
}

.dropdown-menu[data-bs-popper] {
  right: -35px !important;
  left: unset !important;
}

.dropdown-item {
  font-weight: 300;
  background-color: $all-white;
  font-size: clamp(16px, .9rem, 20px) !important;;
  color: $light-bkg-color !important;
  padding: 0 10px;
  margin-bottom: 5px;
  &:hover {
    color: $jungle-green !important;
    font-weight: 500;
  }
}

.dropdown-menu-custom_links {
  left: -80px;
}
.dropdown-item:hover {
  background-color: $all-white;
}

.navbar-title {
  height: 100%;
  color: $all-white;
  font-size: clamp(14px, 3rem, 5vw);
  font-weight: 800;
  align-self: center;
  letter-spacing: 1.2px;
}

.nav-item {
  a {
    color: $all-white;
    font-size: 2rem;
  }
  @media (min-width: 901px) {
    a {
      font-size: 1.3rem;
    }
  }
}

.navbar-wave {
  position: absolute;
  top: 8vh;
  background: #00000000;
  width: 200%;
  margin-top: -1px;
  @media(min-width: 1200px) {
    width: 100%;
  }
  @media(max-width: 1200px) {
    margin-top: -8px;
  }
  filter: drop-shadow(2px 5px 6px #00000070);
  img {
    width: 100%;
    position: relative;
    top: -5px;
  }
}
