.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: $navbar-background;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.nav-link_custom {
  color: $official-color;
}

.navbar-custom {
  color: $official-color;
  font-size: 40px;
}

@media (min-width: 768px) {
  .nav-link_custom {
    font-size: 1.3rem;
    margin-right: .2rem;
    padding: 5px;
    border-radius: 10px;
     &:hover {
       color: white;
       text-decoration: none;
       background-color: $official-color;
     }
  }
  .over-768px {
    display: none;
  }
}

