<div class="home-page__samples home-page__categories" id="home-categories">
  <h2 class="h2">Ceva dulce? Le ai pe toate la noi! </h2>
  <div class="samples-index categories-index">
    <%= render @categories %>
  </div>
</div>
