<div class="home-features">
  <%= image_tag('sample-wave', class: 'sample-wave') %>

  <% if @features.count > 0 %>
  <% @features.each_with_index do |f, i| %>
  <div class="block">
    <div class="block-1 <%#= i.even? ? 'order-1' : 'order-2' %>">
      <h2><%= f.title %></h2>
      <p><%= f.content %></p>
    </div>
    <div class="block-2 <%#= i.even? ? 'order-2' : 'order-1' %>"><%= cl_image_tag(f.photo.key, fetch_format: :webp, width: 900, crop: :scale) %></div>
  </div>
    <% end %>
  <% end %>

</div>
