<%# images = ['ecler_sgmmrc.webp', 'IMG_5184_Background_Removed_nltgj3.webp', 'IMG_5576_apnxfm.webp', 'IMG_5577_kpip7i.webp'] %>
<!-- <div class="hero-section">
  <%= cl_image_tag('ecler_sgmmrc.webp', fetch_format: :webp, width: 800, crop: :scale) %>
  <%#= cl_image_tag(images.sample, fetch_format: :webp, :quality=>70, :width=>1000, :height=>500, :crop=>"scale") %>
  <div>
    <%= link_to categories_path, class: 'hero-section__button' do %>
      <h1>
        <span>Deserturi proaspete</span></br><span>în fiecare zi</span>
      </h1>
    <% end %>
  </div>
 </div> -->

