<div class="info">
  <%= image_tag('info-wave.svg', class: 'info-wave') %>
  <div class="info-header">
    <hr>
    <p>Noutăți și alte detalii despre</p>
    <hr>
  </div>
  <p>Cofetăria Irina?</p>
  <div class="info-contact">
    <a href="tel:0040755054002"><i class="fas fa-mobile-alt"></i></a>
    <a href="https://api.whatsapp.com/send?phone=0040755054002&text=Bună ziua! Vă rog să-mi spuneți..."><i class="fab fa-whatsapp-square"></i></a>
    <a href="mailto:irina.sweetshop@gmail.com?Subject=Cerere%20ofertă" target="_top"><i class="fas fa-envelope"></i></a>
    <a href="https://www.facebook.com/cofetariebacau" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://goo.gl/maps/QZUaRqKmzaRJCjiA8" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
  </div>
  <div class="info-questions">
    <p>Ai mânca ceva dulce, dar nu știi ce?</p>
    <p>Ai o aniversare și nu te-ai decis ce tort să faci?</p>
    <%= link_to "Inspiră-te!", categories_path, class: 'info-action-button' %>
  </div>
</div>