<% content_for(:title) {'Categorii de produse - Cofetăria Irina - Bacău'} %>
<div class="container-fluid cards-container py-5 mb-5 fonts-family">
  <div class="row justify-content-around my-5 mx-4">
    <%=render @categories %>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-10 col-md-8 col-lg-6">
      <% if policy(Category).new? %>
        <%= link_to 'Categorie nouă', new_category_path, class: 'btn button-default button-rounded btn-block fonts-family rem1-5' %>
      <% end %>
    </div>
  </div>
</div>
