<div class="container-fluid py-5">
  <div class="row mx-1 pt-5">
    <div class="col pt-5">
      <div class="d-flex flex-wrap justify-content-center ">
        <!-- <p class="first-margin-bottom"></p>
          <%= render 'partials/categories/render_sections' %>
        <p class="last-margin-bottom d-inline"></p> -->
        <%= render 'partials/categories/recipe' %>
      </div>
    </div>
  </div>
</div>
