<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card p-4">
        <h1 class="h5 mb-3">Adaugă utilizator</h1>
        <% form_url = dashboard_admin_users_path %>
        <%= render 'form', form_url: form_url %>
      </div>
    </div>
  </div>
</div>
