<div class="container dashboard-container">
  <h1>Features</h1>
  <div class="form-admin">
    <%= render partial: 'form' %>
  </div>
  <div class="dashboard-index">
    <%= render @features %>
  </div>
</div>
